// /********
//  * PSPP *
//  ********/

// upstream should convert this to treeview node
notebook.psppire-data-editor widget.view {
  border-radius: 0; // unset roundness of cells

  entry.flat { // = editable cell
    &,
    &:focus {
      min-height: $icon_size;
      min-width: $icon_size;
      padding: 0 3px;
      @include radius(0, none);
      border: 0 solid $color_bg_sel;
      background-color: $color_base;
      box-shadow: none;
      transition: none;
      &:dir(ltr) { border-left-width: 2px; }
      &:dir(rtl) { border-right-width: 2px; }

      selection { @extend %selected_items; }
    }
  }

  spinbutton {
    min-height: $icon_size;
    min-width: $icon_size;
    padding: 0;
    @include radius(0, none);

    &,
    entry.flat {
      border: none;
      background-color: $color_base;
    }

    button {
      &.up, &.down {
        min-height: $icon_size;
        min-width: $icon_size;
        background-color: $color_base;
      }
    }

    entry selection { @extend %selected_items; }
  }

  button:not(.flat) { // = column_header buttons
    @extend %column_header_button;
  }
}