// /*************
//  * Assistant *
//  *************/

assistant { // sidebar styling
  .sidebar {
    padding: rem($menuitem_padding, $sw: 1.0) 0;

    &:dir(ltr) { border-right: 1px solid $color_fg_div; }
    &:dir(rtl) { border-left: 1px solid $color_fg_div; }

    label {
      color: $color_fg_2;
      font-weight: 500;
      padding: rem($menuitem_padding, $sw: 1.0)
               rem($txt_button_lr_space, $sw: 1.0)
               rem(($menuitem_padding + $baseline), $sw: 1.0);

      &.highlight {
        color: $color_lbl_sel;
        background-color: $color_bg_trk;

        &:dir(ltr) { @include radius(0 $r $r 0); }
        &:dir(rtl) { @include radius($r 0 0 $r); }
      }
    }
  }

  &.csd .sidebar { 
    border-top-style: none;
  }
}