// /****************
//  * Emoji Picker *
//  ****************/

popover.emoji {
  &-picker {
    padding: $popover_padding;

    scrolledwindow.view {
      margin: $popover_padding 0;
      background-color: $color_bg_dark;
    }
  }

  &-completion {
    @if $maj_ver == 3 {
      arrow {
        border: none;
        background: none;
      }
    }

    contents row box { padding: 2px 10px; } // NEEDS_REVIEW
  }
}

@if $maj_ver == 4 {
  popover.entry-completion contents { padding: 0; }
}

flowboxchild.emoji { // emoji tiled view
  padding: 0;
  @include radius($r_2, none);
  font-weight: 400;

  label {
    padding: $menu_padding;
    font-size: $icon_size; // use fixed label size
    color: $color_fg_2;
  }

  widget:hover label { // no active/checked states
    background-color: $color_bg_trk;
    color: $color_fg;
  }
}

popover.emoji-picker button.emoji-section.flat {
  min-height: rem($widget_size - 4px, $sw: 1.0);
  min-width: rem($widget_size - 4px, $sw: 1.0);
  padding: 0;
  @if $maj_ver == 3 {
    @if $mnr_ver > 23 { @include radius($r); }
    @else { @include radius($r_2); }
  }
  @else { @include radius($r); }
  &:checked {
    background-color: $color_bg_trk;
    color: $color_lbl_sel;
  }

  label {
    margin: 0;
    padding: 0;
    font-size: $icon_size * 1.5; // use fixed label size
  }
}