// /************
//  * Tooltips *
//  ************/

tooltip {
  &.background {
    @if $variant == mixed {
      // FIXME: Eclipse specific tooltip widgets needs non-inverted backgrounds
      // even if alpha-value was 0.1%, so real backgrounds are drawn with
      // background-image property instead.
      background-color: track($color_base, 0.001);
      background-image: image(track($color_bg_tooltip_inv, ($alpha_osd + 0.001)));
    }
    @else {
      background-color: track($color_bg_tooltip, $alpha_osd);
    }
  }

  label, // default foregrounds
  image {
    color: if($variant == mixed, $color_fg_inv, $color_fg);
  }

  &.csd {
    @include radius($r_2, none);

    @if $maj_ver == 3 {
      // add inner padding (use non-scalable unit instead)
      > box {
        label { padding: if($ref_weight < 1.0, 0px 1px 1px, 1px 2px 2px); }
      }
    }
  }

  @if $maj_ver == 4 {
    // add inner padding (use non-scalable unit instead)
    padding: if($ref_weight < 1.0, 6px 7px 7px, 7px 8px 8px);
  }
}

.tooltip:not(tooltip) {
  // protect the child widget foregrounds for damned Eclipse's debug tooltips
  > * > label { color: $color_fg; }
}