// /************
//  * GtkVideo *
//  ************/

@if $maj_ver == 4 {
  video {
    background: black; // use pitch-black

    image.osd { // NEEDS_REVIEW
      min-width: $icon_size * 4;
      min-height: $icon_size * 4;
      border-radius: $icon_size * 2;
    }
  }
}