// /************
//  * Synaptic *
//  ************/

window > box.vertical > box.horizontal {
  > toolbar {
    background-color: transparent;
    box-shadow: none;

    toolitem > box {
      label,
      entry {
        min-height: rem(13.3px);
        padding-top: rem($baseline);
        padding-bottom: rem($baseline);
        font-size: 90%;
      }

      > label { color: $color_fg_dis; }
    }
  }

  > widget { background-color: transparent; }
}