@mixin borders ($pos_list) {
    @each $along_side, $opp_side in $pos_list {
      // Raven borders
      .#{$along_side} .raven-frame {
        padding: 0;
        background: none;
      }
  
      // Shadows
      .#{$along_side} .shadow-block {
        background-color: transparent;
        background-image: linear-gradient(to #{$opp_side},
                                          track(black, 0.23),
                                          track(black, 0.08),
                                          transparent);
      }
    }
  }