// night-light-indicator styling
.night-light-indicator {
  .view-header {
    label {
      @extend %dim_label;
      font-size: 15px;
      font-weight: 400;
      &:dir(ltr) { padding-left: 4px; }
      &:dir(ltr) { padding-right: 4px; }
    }
  }

  box.vertical > button.flat.display-settings-button { font-weight: 500; }
}