// Widgets (from _widgets.scss of budgie-desktop built-in theme)
%widgets {

    * {
        -gtk-outline-radius: 2px;
        margin: 0;
    }

    label:disabled { color: transparentize($color_fg, 0.65); }
    label, image { color: inherit; }

    separator {
        background-color: rgba(0,0,0,0.25);
        min-width: 1px;
        min-height: 1px;
    }

    radiobutton radio,
    checkbutton check {
      min-width: 16px;
      min-height: 16px;
      margin: 0 2px;
      &:only-child { margin: 0; }
    }
}
