// /*********
//  * Pamac *
//  *********/

// left-pane
box.vertical > stack > box > revealer > stack > scrolledwindow {
  > viewport.frame > list {
    @extend %sidebar_template;
    &:dir(ltr) { border-right: 1px solid $color_fg_div; }
    &:dir(rtl) { border-left: 1px solid $color_fg_div; }

    > row.activatable {
      &:selected {
        &:dir(ltr) { @include radius(0 $r $r 0); }
        &:dir(rtl) { @include radius($r 0 0 $r); }

        &, &:focus { outline-width: 0; } // unset focus outlines

        &, &:hover {
          background-color: $color_bg_trk;

          &, label { color: $color_lbl_sel; }
        }
      }

      > label { font-weight: 500; }
    }
  }
}