// /***********
//  * Globals *
//  ***********/

* {
  transition-property: border-color,
                       border-image,
                       background-color,
                       background-image,
                       box-shadow;
  transition-timing-function: $transition_t_standard;
  transition-duration: $transition_d_standard;
  // quicker response for keyboard operations
  &:focus { transition-duration: $transition_d_none; }

  text-shadow: none;
  icon-shadow: none;
}

$font-family: Roboto, Sans-Serif;
$font-family-for-ornament: Sans-Serif;

stage {
  color: $color_fg;
  @if $ver < 3.35 {
    font-family: $font-family;
    font-size: 10pt;
  }
  @else { font-size: 100%; }
}

// Icon grid settings
$grid_size: 136px;
$icon_grid_spacing: if($ref_weight >= 1.0, 36px, 27px);

// Activities ripples
$ripple_d: 52px;

// /**************************
//  * gnome-shell components *
//  **************************/

@import 'components/imports';

// /*****************
//  * Hacks (shame) *
//  *****************/

// horizontal padding to make sure scrollbars or dash don't overlap content
@if $ver < 3.33 {
  .search-display > StBoxLayout,
  .all-apps, // .frequent-apps =< 3.36 cycle
  .frequent-apps > StBoxLayout { padding: 0 88px 10px 88px; }
}
@else {
  @if $ver < 3.37 {
    .all-apps,
    .frequent-apps > StBoxLayout { padding: 0 88px 10px 88px; }
  }
  @else {
    .all-apps { padding: 0 88px 10px 88px; }
  }
}

%status_text {
  color: $color_fg_ovv_3;
  font-weight: 700;
  font-size: 200%;
}
