// /*************************
//  * Window-List Extension *
//  *************************/

.bottom-panel {
  // .window-button-icon height +
  // .window-button vertical padding +
  // .window-button > StWidget vertical padding)
  min-height: 30px; // = 2.25em
  height: 2.2em;
}

.window-list {
  spacing: 2px;
  font-size: 100%;
}

.window-button {
  padding: 1px;

  &:first-child:ltr { padding-left: 2px; }
  &:last-child:rtl { padding-right: 2px; }

  &-box { spacing: 4px; }

  > StWidget {
    -st-natural-width: 18.75em;
    max-width: 18.75em;
    padding: 3px 6px 1px;
    border-radius: 0;
    background-color: $color_bg_panel_hidden;
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_panel_hidden;
    background-gradient-end: $color_bg_panel_hidden;
    color: $color_fg_osd_2;
    box-shadow: none;
    text-shadow: none;
  }

  &:hover > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_osd_semi_fill;
    background-gradient-end: $color_bg_osd_semi_fill;
    color: $color_fg_osd;
    box-shadow: inset 0 -2px $color_fg_osd_out;
  }

  &:active > StWidget,
  &:focus > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_osd_semi_fill;
    background-gradient-end: $color_bg_osd_semi_fill;
    color: $color_fg_osd;
    box-shadow: inset 0 -2px $color_bg_sel;
  }

  &.focused {
    & > StWidget,
    &:active > StWidget {
      color: $color_fg_osd;
      box-shadow: inset 0 -2px $color_bg_sel;
    }
  }

  &.minimized {
    > StWidget {
      color: $color_fg_osd_3;
      box-shadow: none;
    }
    &:hover > StWidget {
      background-gradient-drection: vertical;
      background-gradient-start: $color_bg_osd_semi_fill;
      background-gradient-end: $color_bg_osd_semi_fill;
      box-shadow: inset 0 -2px $color_fg_osd_out;
      color: $color_fg_osd;
    }
    &:active > StWidget {
      background-gradient-drection: vertical;
      background-gradient-start: $color_bg_osd_semi_fill;
      background-gradient-end: $color_bg_osd_semi_fill;
      box-shadow: inset 0 -2px $color_bg_sel;
      color: $color_fg_osd;
    }
  }

  &-icon {
    width: $icon_size * 1.5;
    height: $icon_size * 1.5;
  }
}

.window-list-workspace-indicator {
  padding: 3px;

  > StWidget {
    border: 1px solid $color_fg_osd_out;
    background-color: $color_bg_panel_hidden;
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_panel_hidden;
    background-gradient-end: $color_bg_panel_hidden;
    color: $color_fg_osd_2;
    font-weight: 700;
  }

  &:hover > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_osd_semi_fill;
    background-gradient-end: $color_bg_osd_semi_fill;
    color: $color_fg_osd;
  }
  &:active > StWidget,
  &:checked > StWidget,
  &:focus > StWidget {
    border: 1px solid $color_bg_sel;
    background-gradient-drection: vertical;
    background-gradient-start: opacity($color_bg_sel, $alpha_track_out);
    background-gradient-end: opacity($color_bg_sel, $alpha_track_out);
    color: $color_fg_osd;
  }
}

.notification { font-weight: 500; }
