// /**************
//  * Bottom Bar *
//  **************/

@import url("stylesheet.css");

#panel.bottom-panel {
  &, &.solid {
    min-height: 30px; // = 2.25em
    height: 2.2em;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-color: $color_bg_panel;
    background-color: $color_bg_panel;
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_panel;
    background-gradient-end: $color_bg_panel;
    color: $color_fg_osd;

    StLabel { text-shadow: none; }

    StIcon { icon-shadow: none; }
  }
}

#panel {
  &, &.solid {
    min-height: 25px; // = 1.875em
    height: 1.8em;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-color: $color_bg_panel;
    background-color: $color_bg_panel;
    background-gradient-drection: vertical;
    background-gradient-start: $color_bg_panel;
    background-gradient-end: $color_bg_panel;

    StLabel { text-shadow: none; }

    StIcon { icon-shadow: none; }

    .panel-button {
      color: $color_fg_osd;
      &:hover,
      &:active,
      &:focus,
      &:checked { color: if($variant != light, $color_fg_sel, black); }

      &:active,
      &:focus {
        background-color: $color_bg_panel_hidden;
        background-gradient-drection: vertical;
        background-gradient-start: $color_bg_panel_hidden;
        background-gradient-end: $color_bg_panel_hidden;
      }
    }
  }
}

