//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  sel_bg: to-upper-case(#{$background_selection});

  acc_fg: to-upper-case(#{$foreground_accent});
  acc_bg: to-upper-case(#{$background_accent});
  acc_f1: to-upper-case(#{mix($foreground_accent, $background, percentage($alpha_track_1))});
  acc_f2: to-upper-case(#{mix($foreground_accent, $background, percentage($alpha_track_2))});

  sgt_bg: to-upper-case(#{$background_suggestion});
  sgt_f1: to-upper-case(#{mix($foreground_selection, $background_suggestion, percentage($alpha_track_1))});
  sgt_f2: to-upper-case(#{mix($foreground_selection, $background_suggestion, percentage($alpha_track_2))});

  dst_bg: to-upper-case(#{$background_destruction});
  dst_f1: to-upper-case(#{mix($background_destruction, $background, percentage($alpha_track_1))});
  dst_f2: to-upper-case(#{mix($background_destruction, $background, percentage($alpha_track_2))});
}
