//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  sel_bg: to-upper-case(#{$color_bg_sel});

  acc_fg: to-upper-case(#{$color_fg_acc});
  acc_bg: to-upper-case(#{$color_bg_acc});
  acc_f1: to-upper-case(#{mix($color_fg_acc, $color_bg, percentage($alpha_track_1))});
  acc_f2: to-upper-case(#{mix($color_fg_acc, $color_bg, percentage($alpha_track_2))});

  sgt_bg: to-upper-case(#{$color_bg_sgst});
  sgt_f1: to-upper-case(#{mix($color_fg_sel, $color_bg_sgst, percentage($alpha_track_1))});
  sgt_f2: to-upper-case(#{mix($color_fg_sel, $color_bg_sgst, percentage($alpha_track_2))});

  dst_bg: to-upper-case(#{$color_bg_dest});
  dst_f1: to-upper-case(#{mix($color_bg_dest, $color_bg, percentage($alpha_track_1))});
  dst_f2: to-upper-case(#{mix($color_bg_dest, $color_bg, percentage($alpha_track_2))});
}
