// /*****************
//  * Atril/Xreader *
//  *****************/

.atril-window,
.xreader-window {
  scrolledwindow.frame {
    border-style: solid none none;

    > .view { // = evview?
      transition: none;
      &:selected,
      &:active { @extend %selected_texts; }
    }
  }

  toolbar > toolbutton button.flat.image-button { // back to square buttons
    @include radius($r_2);
  }

  // 'presentation' mode fullscreen?
  &.fullscreen.background > box.vertical {
    background-color: black; // turn to pitch-black
    transition-duration: $transition_d_none; // unset transitions

    // use opaque borders
    > toolbar:not(.primary-toolbar).horizontal {
      border-bottom-color: $color_fg_div_sld;
    }

    // revert to standard backgrounds
    > paned.horizontal { background-color: $color_bg; }
  }
}