@if $mate_support == yes {

  // /*******
  //  * Eom *
  //  *******/

  .eom-window {
    statusbar { // always use dark-variant
      margin: 0 -10px; // hide weird lateral gaps
      padding: 0 $toolbar_padding;
      background-color: $color_bg_dark_inv;
      color: $color_fg_inv;
    }
  }
}