// /*********
//  * Pluma *
//  *********/

.pluma-window {
  paned.horizontal notebook {
    > header.top { // revive top-border when tabs are shown
      border-top: 1px solid $color_fg_div;
      background-color: $color_bg;
    }
  }

  statusbar {
    margin: 0 -10px; // hide weird lateral gaps
    padding: 0 $toolbar_padding;
    background-color: $color_bg_dark;

    frame,
    .frame { border-style: none; }
  }

  // side-pane styling
  paned.horizontal box.vertical notebook {
    &.frame { border-style: solid none; }
  }

  // print-preview styling
  .pluma-print-preview toolbar.horizontal {
    border-width: 1px 0;
    border-style: solid none;
    border-color: $color_fg_div transparent;
    background-color: $color_bg_dark;
  }
}