// /************
//  * Ubiquity *
//  ************/

window#live_installer {
  widget#title_eventbox.menubar { // title header container
    background-color: if($variant == mixed, $color_bg_dark_inv, $color_bg_dark);
    color: if($variant == mixed, $color_fg_inv, $color_fg);
    font-weight: 700;

    label#page_title,
    image#page_logo {
      color: if($variant == mixed, $color_fg_inv, $color_fg);
    }
  }

  widget#progress_eventbox.menubar { // bottom container
    border-top: 1px solid $color_fg_div;
    background-color: $color_base;
    color: $color_fg;

    // 4px from <data>
    progressbar trough { border-radius: 4px; }
  }
}