// /**********
//  * Thunar *
//  **********/

window.thunar {
    toolbar#location-toolbar {
      // why didn't devs use .text/.image button class?
      .linked.path-bar > button.path-bar-button { @extend %pathbar_button; }
  
      entry:not(.flat) {
        min-height: rem($toolitem_size, $sw: 1.0);
        margin: 1px 0; // = outlined button's border-widths
      }
    }
  
    > grid.horizontal > paned.horizontal { border-top: 1px solid $color_fg_div; }
  
    notebook {
      // hide unneeded border
      stack > scrolledwindow.frame.standard-view { border-top-width: 0; }
  
      // EelCanvasItem
      widget.view { @extend .nautilus-canvas-item; }
    }
  }