// /***********
//  * Top Bar *
//  ***********/

#panel {
  // default height
  min-height: if($ref_weight >= 1.0, 30px,  // = 2.25em
                                      25px); // = 1.875em
  // special height for upscaled via font-scaling-factor
  // this should be always smaller than min-height if f-s-f < 1.0
  height: if($ref_weight >= 1.0, 2.1em, 1.8em);
  @if ($ver > 3.25) and ($ver < 3.31) {
    background-color: opacity($color_bg_panel, $alpha_foreground_3rd);
    box-shadow: $empty_shadow;
  }
  @else {
    background-color: $color_bg_panel;
  }
  font-weight: 700;
  transition-timing-function: $transition_t_standard;
  transition-duration: $transition_d_long;

  @if $ver > 3.35 {
    &:overview,
    &.unlock-screen,
    &.login-screen { @extend %translucent_panel; }
  }
  @else {
    &:overview,
    &.unlock-screen,
    &.login-screen,
    &.lock-screen { @extend %translucent_panel; }
  }

  #panelLeft, // spacing between activities<>app menu and such
  #panelCenter { spacing: 0; }

  .panel-corner { // unset all properties
    -panel-corner-radius: 0;
    -panel-corner-background-color: $color_bg_panel_hidden;
    -panel-corner-border-width: 0;
    -panel-corner-border-color: transparent;
    transition-duration: $transition_d_none;

    &:hover,
    &:focus {
      background-color: $color_bg_panel_hidden;
      box-shadow: inset 0 2px $color_fg_osd_out;
    }
    &:active,
    &:overview {
      background-color: $color_bg_panel_hidden;
      box-shadow: inset 0 2px $color_bg_sel;
    }

    @if $ver > 3.35 {
      &.login-screen,
      &.unlock-screen { @extend %translucent_panel_corner; }
    }
    @else {
      &.lock-screen,
      &.login-screen,
      &.unlock-screen { @extend %translucent_panel_corner; }
    }

    StLabel { padding: if($ref_weight >= 1.0, 0 4px 1px, 0 2px 1px); }

    StIcon { margin-top: 1px; } // reset base-line
  }

  .panel-button {
    -natural-hpadding: if($ref_weight >= 1.0, 10px, 6px);
    -minimum-hpadding: if($ref_weight >= 1.0, 10px, 6px);
    color: $color_fg_osd;
    @if $ver > 3.25 {
      text-shadow: none;
      icon-shadow: none;
    }
    font-weight: 700;
    // FIXME: once these buttons are placed in panel-corners,
    // all of transition properties are ignored?
    // So stop using transition as default...
    transition-duration: $transition_d_none;

    .app-menu-icon { // dimensions of the icon are hardcoded
      -st-icon-style: symbolic;
      padding: if($ref_weight >= 1.0, 0 5px, 0 2px);
    }

    &:hover {
      background-color: $color_bg_panel_hidden;
      color: if($variant != light, $color_fg_sel, black);
      box-shadow: inset 0 2px $color_fg_osd_out;
    }
    &:active,
    &:focus,
    &:checked,
    &:overview {
      // Trick due to St limitations. It needs a background to draw
      // a box-shadow
      background-color: $color_bg_panel_hidden;
      color: if($variant != light, $color_fg_sel, black);
      box-shadow: inset 0 2px $color_bg_sel;

      @if $ver < 3.25 {
        > .system-status-icon { icon-shadow: none; }
      }
    }

    .system-status-icon {
      icon-size: $icon_size;
      padding: if($ref_weight >= 1.0, 0 5px, 0 3px);
    }

    StLabel { padding: if($ref_weight >= 1.0, 0 4px 1px, 0 2px 1px); }

    StIcon { margin-top: 1px; } // reset base-line

    @if $ver > 3.35 {
      &,
      &:hover,
      &:active,
      &:focus,
      &:checked,
      &:overview,
      &.unlock-screen,
      &.login-screen { @extend %panel_arrow; }
    }
    @else {
      &,
      &:hover,
      &:active,
      &:focus,
      &:checked,
      &:overview,
      &.unlock-screen,
      &.login-screen,
      &.lock-screen { @extend %panel_arrow; }
    }

    @if $ver > 3.25 {
      &.clock-display {
        // do-not-disturb icon + clock label
        @if $ver > 3.35 { // move L/R padding to child StLabel
          -natural-hpadding: 0;
          -minimum-hpadding: 0;
          &:hover,
          &:active,
          &:focus,
          &:checked,
          &:overview { box-shadow: $empty_shadow; }

          .clock-display-box { spacing: if($ref_weight >= 1.0, 10px, 6px); }

          .clock {
            padding-left: if($ref_weight >= 1.0, 10px, 6px);
            padding-right: if($ref_weight >= 1.0, 10px, 6px);
            background-color: $color_bg_panel_hidden; // for line-indicators
          }

          // draw line highlight on StLabel only
          &:hover .clock { box-shadow: inset 0 2px $color_fg_osd_out; }

          &:active,
          &:focus,
          &:checked,
          &:overview {
            .clock { box-shadow: inset 0 2px $color_bg_sel; }
          }
        }

        // notification dot at the right-side of clock label
        > StBoxLayout > StIcon {
          padding-bottom: 1px; // keep the StLabel baseline
          icon-size: $icon_size;
          color: $color_bg_sgst;
        }
      }
    }
  }

  @if $ver > 3.25 {
    StLabel { text-shadow: none; }

    StIcon { icon-shadow: none; }
  }

  .panel-status-indicators-box,
  .panel-status-menu-box { spacing: 0; }

  .panel-status-indicators-box {
    .power-status StLabel { // battery percentage?
      margin-top: 0.05em; // smaller fonts are used
      padding: 0;
    }
  }

  .screencast-indicator { color: $color_bg_dest; }

  @if $ver > 3.25 {
    .remote-access-indicator { color: $color_warn; } // > 3.29.4

    @if $ver < 3.31 {
      &.solid { // solid-mode of TopBar
        background-color: $color_bg_panel; // fill whole area
        // FIXME: override ugly ubuntu.css
        background-gradient-start: $color_bg_panel;
        background-gradient-end: $color_bg_panel;
        transition-timing-function: $transition_t_dec;
        transition-duration: $transition_d_long; // transparent -> solid

        .panel-corner { -panel-corner-background-color: $color_bg_panel; }

        .panel-button {
          color: $color_fg_osd;
          &:hover,
          &:active,
          &:focus,
          &:checked { color: if($variant != light, $color_fg_sel, black); }

          @if $ver > 3.35 {
            &,
            &:hover,
            &:active,
            &:focus,
            &:checked,
            &:overview,
            &.unlock-screen,
            &.login-screen {
              > .system-status-icon { icon-shadow: none; }
            }
          }
          @else {
            &,
            &:hover,
            &:active,
            &:focus,
            &:checked,
            &:overview,
            &.unlock-screen,
            &.login-screen,
            &.lock-screen {
              > .system-status-icon { icon-shadow: none; }
            }
          }
        }
      }
    }
  }
}

%translucent_panel {
  background-color: if($variant == light, opacity($color_bg_panel, $alpha_foreground_3rd),
                                          $color_bg_panel_hidden);
  @if $ver > 3.25 { box-shadow: $empty_shadow; }
  @else { box-shadow: inset 0 2px $color_bg_panel; }
  transition-timing-function: $transition_t_dec;
  transition-duration: $transition_d_long;
}

%translucent_panel_corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-width: 0;
  -panel-corner-border-color: transparent;
}

%panel_arrow {
  .popup-menu-arrow { // hide down-arrows
    width: 0;
    height: 0;
    color: transparent;
    icon-shadow: none; // unset drop-shadow
  }
}
