// /*************
//  * Pie Timer *
//  *************/

@if $ver > 3.33 {
  $progress_width: 3px;

  .pie-timer {
    width: $ripple_d + ($progress_width * 2);
    height: $ripple_d + ($progress_width * 2);
    -pie-border-width: $progress_width;
    -pie-border-color: $color_bg_acc; // progress bit
    -pie-background-color: opacity($color_bg_acc, $alpha_track_out); // trough
  }
}
