// /*****************
//  * Screen Shield *
//  *****************/

%unlock_clock {
  padding-bottom: 1.5em;
  color: $color_fg_ovv;
  text-align: center;
}

%unlock_time {
  font-weight: 300;
  font-size: 840%;
}

%unlock_date {
  font-weight: 700;
  font-size: 130%;
}

%unlock_container {
  spacing: 6px;
  background-color: transparent;

  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }
}

%onlock_notification {
  padding: 12px 6px;
  border: none;
  border-radius: $r_8;
  background-color: if($variant == mixed, opacity($color_bg_tooltip_inv, $alpha_osd),
                                          opacity($color_bg_tooltip, $alpha_osd));
  color: $color_fg_osd;
}

%unlock_scrollbar {
  StButton#vhandle,
  StButton#hhandle {
    background-color: opacity($color_fg_ovv, $alpha_foreground_3rd * $alpha_foreground_3rd);
    &:hover { background-color: opacity($color_fg_ovv, $alpha_foreground_2nd * $alpha_foreground_3rd); }
    &:active { background-color: $color_fg_ovv; }
  }
}

@if $ver > 3.35 {
  .unlock-dialog {
    &-clock {
      @extend %unlock_clock;
      spacing: if($ref_weight >= 1.0, 24px, 18px);

      &-time {
        padding-top: 0.5em;
        @extend %unlock_time;
      }

      &-date { @extend %unlock_date; }

      &-hint {
        padding-top: if($ref_weight >= 1.0, 24px * 2, 18px * 2);
        font-weight: 400;
      }
    }

    &-notifications {
      &-container {
        width: $login_dialog_width;
        margin: if($ref_weight >= 1.0, 12px 0, 8px 0);
        @extend %unlock_container;

        .notification,
        .unlock-dialog-notification-source {
          @extend %onlock_notification;

          &.critical {
            background-color: $color_bg_dest;
            color: $color_fg_sel;

            .unlock-dialog-notification-count-text {
              background-color: $color_fg_sel;
              color: $color_bg_dest;
            }
          }
        }
      }

      &-label {
        padding: 0 0 0 12px;
        font-weight: 500;
      }

      &-count-text {
        padding: 0 6px;
        border-radius: $r_2;
        background-color: $color_bg_sgst;
        color: $color_fg_sel;
        font-weight: 700;
      }
    }
  }
}
@else {
  .screen-shield {
    &-arrows {
      padding-bottom: 3em;

      Gjs_Arrow {
        width: 80px;
        height: 48px;
        -arrow-thickness: 12px;
        -arrow-shadow: none;
        color: $color_fg_ovv;
      }
    }

    &-clock {
      @extend %unlock_clock;

      &-time {
        @extend %unlock_time;
        text-shadow: $z-depth-1;
      }

      &-date {
        @extend %unlock_date;
        text-shadow: $z-depth-1;
      }
    }

    &-notifications {
      &-container {
        width: 30em;
        max-height: 500px;
        @extend %unlock_container;

        .notification,
        .screen-shield-notification-source { @extend %onlock_notification; }

        .notification { margin-right: 15px; }
      }

      &-label { font-weight: 700; }

      &-label,
      &-count-text { padding: 0 0 0 12px; }
    }

    &-background { // just the shadow, really
      background: black;
      box-shadow: $z-depth-5;
    }
  }
}

@if $ver > 3.35 {
  #lockDialogGroup { background-color: mix(color($grey, 900), black, 87%); }
}
@else {
  #lockDialogGroup {
    background-color: mix(color($grey, 900), black, 87%);
    @include image-loader($url: 'noise-texture.png');
    background-repeat: repeat;
  }
}


@if $ver > 3.35 {
  #unlockDialogNotifications { @extend %unlock_scrollbar; }
}
@else {
  #screenShieldNotifications { @extend %unlock_scrollbar; }
}
