//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  selection: to-upper-case(#{$background_selection});

  rb: #{red($background_selection)};

  gb: #{green($background_selection)};

  bb: #{blue($background_selection)};

  accent_label: to-upper-case(#{$foreground_accent});

  // round values for selected-label color
  rl: #{round(red($foreground_accent))};

  gl: #{round(green($foreground_accent))};

  bl: #{round(blue($foreground_accent))};
}
