//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  selection: to-upper-case(#{$color_bg_sel});

  rb: #{red($color_bg_sel)};

  gb: #{green($color_bg_sel)};

  bb: #{blue($color_bg_sel)};

  accent_label: to-upper-case(#{$color_fg_acc});

  // round values for selected-label color
  rl: #{round(red($color_fg_acc))};

  gl: #{round(green($color_fg_acc))};

  bl: #{round(blue($color_fg_acc))};
}
