// /************
//  * Electron *
//  ************/

// workaround for the context-menus in Electron apps
// do not use the alpha-blended colors
@if $maj_ver == 3 {
  @if $mnr_ver < 23 {
    window.popup:not(.csd) {
      menu {
        background-color: $color_bg_dark;

        menuitem {
          background-color: $color_bg_dark;
          color: mix($color_fg, $color_bg_dark, percentage($alpha_foreground_2nd));
          &:hover {
            background-color: mix($color_fg, $color_bg_dark, percentage($alpha_track_2));
            color: $color_fg;
          }
          &:disabled { // popup frame pulls this?
            background-color: $color_bg_dark;
            color: mix($color_fg_fix, $color_bg_dark, percentage($alpha_foreground_dis));

            label, // reset for generic non-composited Gtk apps
            arrow { color: mix($color_fg, $color_bg_dark, percentage($alpha_foreground_dis)); }
          }
        }
      }
    }
  }
}