// /****************
//  * Eye of Gnome *
//  ****************/

box#eog-thumb-nav { // image gallery
  iconview.view {
    @include radius(0, none);
    &:selected {
      background-color: $color_bg_trk;
      color: $color_lbl_sel;
      box-shadow: inset 0 4px $color_bg_sel;
    }
  }
}
