// /**********
//  * Evince *
//  **********/

window.background {
  > box.vertical > box.horizontal {
    > widget > label { // annotation title
      color: $color_fg_fix;
      font-weight: 700;
    }
  }
}

window.background.csd > box.vertical + headerbar.titlebar {
  > box.vertical { // 'Open...' button
    + button:not(.suggested-action):not(.destructive-action) {
      &:not(.titlebutton):not(.selection-menu) {
        &:not(.text-button):not(.lock):not(.color):not(.image-button) {
          padding: 0 rem($txt_button_lr_space);
          @include radius($r_2, none);
        }
      }
    }
  }
}


// plugin mode in Ephy
window.background > widget > window.background > box.vertical {
  > toolbar.horizontal {
    border-top: 1px solid $color_fg_div;
    background-color: $color_bg;
  }

  > scrolledwindow {
    scrollbar {
      &,
      &.overlay-indicator,
      trough {
        background-color: $color_bg;
        @include transition(reset);
      }

      slider { @include transition(reset); }
    }

    evview.content-view.view { @include transition(reset); }
  }
}
