// /****************
//  * File chooser *
//  ****************/

placessidebar {
  @extend %scrolledwindow; // needs for overshoot / undershoot

  @if $maj_ver == 4 {
    // viewport.frame is deprecated
    > scrolledwindow.frame { border-style: none; } // for double-borders
  }

  list {
    // Background color for Nautilus and FileChooser sidebar
    @extend %sidebar_template;
  }

  row {
    // Needs overriding of the GtkListBoxRow padding
    // Actual padding is embedded into child elements
    @extend %sidebar_row_template;

    // Using margins/padding directly in the row
    // will make the animation of the new bookmark row jump
    > revealer { padding: 0 12px; }

    image.sidebar-icon {
      opacity: $alpha_foreground_2nd;
      &:dir(ltr) { padding-right: rem($pathbar_min_size * 2, $sw: 1.0); }
      &:dir(rtl) { padding-left: rem($pathbar_min_size * 2, $sw: 1.0); }
    }

    label.sidebar-label {
      padding-bottom: rem($baseline, $sw: 1.0);
      &:dir(ltr) { padding-right: rem($pathbar_min_size * 1.5, $sw: 1.0); }
      &:dir(rtl) { padding-left: rem($pathbar_min_size * 1.5, $sw: 1.0); }
    }

    button.image-button { // Eject button for removable storages
      @include button(flat-normal);
      &:hover { @include button(flat-hover); }
      &:active { @include button(flat-active); }
      &:disabled { @include button(flat-disabled); }
      &:checked { @include button(flat-checked); }
      &:checked:disabled { @include button(flat-checked-disabled); }
    }

    // looks like the label doesn't get all the states so work around
    &:selected:disabled label { color: $color_fg_dis_sel; }

    &.sidebar-placeholder-row {
      min-height: 2px;
      padding: 0 $menuitem_padding;
      background-image: image($color_fg_drop);
      background-clip: content-box;
    }

    &.sidebar-new-bookmark-row { color: $color_lbl_sel; }

    &:drop(active):not(:disabled) {
      color: $color_fg_drop;
      background-color: $color_bg_drop;
      // draw vertical indicators
      &:dir(ltr) { box-shadow: inset $progress_size 0 $color_fg_drop; }
      &:dir(rtl) { box-shadow: inset (-$progress_size) 0 $color_fg_drop; }

      &:selected {
        background-color: $color_fg_drop;

        &,
        .sidebar-label,
        .sidebar-icon { color: $color_fg; }
      }
    }
  }
}

placesview {
  row.activatable:hover { background-color: transparent; }

  // this selects the "connect to server" label
  > actionbar > revealer > box {
    @if $maj_ver == 3 {
      > label {
        padding-left: rem($menuitem_padding);
        padding-right: rem($menuitem_padding);
      }
    }
    @else { // NEEDS_REVIEW
      > box { border-spacing: 6px; }
    }
  }
}