// /****************
//  * Gnome Tweaks *
//  ****************/

headerbar.titlebar.tweak-titlebar {
  &-left,
  &-right { // unset baseline correction
    > label.title { margin-bottom: 0; }

    // for hdyleaflet
    + separator.vertical { background-color: $color_fg_div_sld_dark; }
  }
}

// sidebar
.tweak-categories {
  @extend %sidebar_template;
  background-image: image($color_bg);
  color: $color_fg_2;

  separator.horizontal {
    min-height: 0;
    border-color: transparent;
    background-color: transparent;
  }
}

.tweak-category {
  border: none;
  color: $color_fg_2;
  background-color: transparent;
  font-weight: 500;
  &:hover { color: $color_fg; }

  &.activatable { // specificity bump
    &:selected { @extend %selected_sidebar_row; }
  }
}

// basic row node container in right-pane
row.tweak {
  outline-width: 0; // hide outlines
  &:dir(ltr) { margin-left: rem($ref_size, $sw: 1.0); }
  &:dir(rtl) { margin-right: rem($ref_size, $sw: 1.0); }

  &, &.title {
    min-height: rem($widget_size);
    &:hover,
    &:active { // unset hover/active effects
      background-image: none;
      background-color: transparent;
      animation: none;
    }
  }

  &.title { color: $color_fg_3; }

  &.title,
  &#AutostartTitle {
    font-weight: 700;
    // unset indentation
    &:dir(ltr) { margin-left: 0; }
    &:dir(rtl) { margin-right: 0; }
  }

  // child sub list elements
  &:not(.title) > list {
    border: 1px solid $color_fg_div;

    > row.activatable {
      background-color: $color_base;
      color: $color_fg_2;
      &:hover {
        background-color: $color_bg_trk;
        color: $color_fg;
      }
      &:active { color: $color_fg; }

      > box.horizontal {
        > label,
        > box.vertical > label:first-child { font-weight: 500; }
      }

      // draw horizontal lines
      &:not(:last-child) { border-bottom: 1px solid $color_fg_div; }
    }
  }
}

// container and tweaks in a group
list.tweak-group-startup { background-color: $color_bg; }

%startup_list_row {
  padding: rem($entry_lr_space);
  background-image: image($color_bg);
  background-repeat: repeat-x;
  background-size: auto;
  transition-duration: 0s; // child 'grid' already has
  outline-width: 0; // hide outlines
  &:hover {
    > grid {
      background-image: image(track($color_fg_2, $alpha_track_1));
      transition: background-image $transition_d_standard $transition_t_dec;
    }
  }
  &:active { @include transition(reset); } // disable ripples

  > grid { // actual container
    @include radius($r_2);
    padding: rem($entry_lr_space);
    transition: background-image $transition_d_standard $transition_t_dec;

    > button { // 'remove' buttons
      @include button(raised-normal, $c: $color_bg_dest, $tc: $color_fg_sel_2);
      @include ink-reaction(normal, $fc: $color_fg_sel, $tr: ink-normal-dec);
      &:hover { @include button(raised-hover, $c: $color_bg_dest, $tc: $color_fg_sel); }
      &:active {
        @include button(raised-active, $c: $color_bg_sel, $tc: $color_fg_sel);
        @include ink-reaction(active-dec, $fc: $color_fg_sel, $tr: ink-active-dec);
      }
      &:checked {
        @include button(raised-checked);
        &:disabled {
          border-color: mix($color_bg_dest, $color_bg, percentage($alpha_track_1));
          background-color: mix($color_bg_dest, $color_bg, percentage($alpha_track_1));
          color: $color_fg_dis_sel;
        }
      }
      &:disabled { @include button(raised-disabled, $c: $color_base, $tc: $color_fg); }
    }
  }
}

@if $maj_ver == 3 {
  @if $mnr_ver < 23 {
    list.tweak-group-startup {
      > row.activatable { @extend %startup_list_row; }
    }
  }
  @else {
    list.tweak-group-startup {
      > row {
        @extend %startup_list_row;
        &:hover > grid { background-image: none; }
      }
    }
  }
}
@else {
  list.tweak-group-startup {
    > row {
      @extend %startup_list_row;
      &:hover > grid { background-image: none; }
    }
  }
}

dialog.background.csd > box.dialog-vbox.vertical {
  > searchbar + scrolledwindow > viewport.frame > list {
    // FIXME: who needed hard-coded 5px outer margins
    // causing weird pitch black band?
    border: 1px solid $color_fg_div_sld; // use opaque
    box-shadow: 0 0 0 5px $color_bg;
  }
}
