// /******************
//  * Gnome-Contacts *
//  ******************/

// side-bar styling
window grid.titlebar + overlay > grid.horizontal > frame {
  > border {
    &:dir(ltr) { border-width: 0 1px 0 0; }
    &:dir(rtl) { border-width: 0 0 0 1px; }
  }

  > grid scrolledwindow > viewport.frame {
    @extend %sidebar_template;
  }
}

list.contacts {
  @if $maj_ver == 3 {
    @if $mnr_ver < 23 {
      &-view {
        row.activatable { @extend %sidebar_row_template; }
      }
    }
  }

  &-contact-list { // >= 3.27.90
    row.activatable { @extend %sidebar_row_template; }
  }

  &-contact-list { border-top: 1px solid $color_fg_div; }
}

list.contacts-view {
  // hide horizontal separator
  separator {
    min-height: 0;
    border-color: transparent;
    background-color: transparent;
  }
}

scrolledwindow.contacts-contact-form {
  // override stock style.css
  background-image: image($color_base);
}

@if $maj_ver == 3 {
  @if $mnr_ver > 23 { // >= 3.31.90
    hdyleaflet > overlay > stack { background-color: $color_base; }
  }
}
@else {
  hdyleaflet > overlay > stack { background-color: $color_base; }
}
