// /********************
//  * Gnome-Characters *
//  ********************/

// side-pane styling
scrolledwindow > viewport.frame list.categories {
  @extend %sidebar_template;

  > row.category.activatable {
    font-weight: 500;
    &:selected {
      &:dir(ltr) { @include radius(0 $r $r 0); }
      &:dir(rtl) { @include radius($r 0 0 $r); }

      &, &:focus { outline-width: 0; } // unset focus outlines

      &, &:hover {
        background-color: $color_bg_trk;
        color: $color_lbl_sel;

        image.category-icon,
        label.category-label { color: $color_lbl_sel; }
      }
    }
  }
}

// right-pane styling
scrolledwindow.character-list-scroll {
  > scrollbar { // always use light-variant
    background-color: transparent;

    slider {
      background-color: track($color_fg_fix_3, $alpha_foreground_3rd);
      &:hover {
        background-color: track($color_fg_fix_2, $alpha_foreground_3rd);
      }
      &:active { background-color: $color_fg_fix; }
      &:disabled { opacity: $alpha_foreground_bdp; }
    }

    &.overlay-indicator {
      &:not(.dragging):not(.hovering) slider {
        background-color: track($color_fg_fix_3, $alpha_foreground_3rd);
      }
    }
  }
}
