// /***************
//  * Gnome Boxes *
//  ***************/

%child_styling {
  border-radius: 0;
  &:hover { box-shadow: inset 0 0 0 9999px $color_bg_trk; }
  &:first-child { @include radius($r_2 $r_2 0 0, none); }
  &:last-child { @include radius(0 0 $r_2 $r_2, none); }
  &:not(:first-child):not(:only-child) { margin-top: -1px; }
}

window.background > overlay > stack.content-bg {
  &,
  stack box.content-bg { background-image: image($color_bg); }
}

// parent container of button nodes
box.boxes-menu.vertical > box.vertical { background-color: $color_base; }

// child elements
row.boxes-menu-row { @extend %child_styling; }

button.boxes-menu-row {
  @extend %child_styling;
  font-weight: 700;
  &:not(:disabled):not(:hover) { box-shadow: none; }

  box.boxes-menu.vertical > & {
    margin-bottom: -1px;
    @include radius($r_2 $r_2 0 0, none);
  }
}