// /****************
//  * Gnome Clocks *
//  ****************/

%hdyviewswitcher {
  button.radio {
    @include radius(0);
    border: none;
    background-image: none; // kill ink-reactions
    &:active,
    &:checked {
      background-image: none;
      &:hover { @include button(checked-hover); }
    }

    // override  app's padding values
    box.horizontal.wide { margin: -8px 0; }

    box.vertical.narrow {
      // override  app's padding values
      margin: -5px 0 -7px;

      label {
        margin: if($ref_weight < 1.0, -2px 0 0,
                                      -1px 0 0);
      }

      image {
        margin: if($ref_weight < 1.0, (-5px + 2px) 0 -2px,
                                      0 0 -1px);
      }
    }

    label {
      &,
      &:active { font-weight: 500; }
    }
  }
}

@if $maj_ver == 3 {
  @if $mnr_ver > 23 {
    headerbar hdyviewswitcher { @extend %hdyviewswitcher; }
  }
}
@else {
  headerbar hdyviewswitcher { @extend %hdyviewswitcher; }
}
