// /***************
//  * Gnome-Music *
//  ***************/

// side-bar styling
@if $maj_ver == 3 {
  @if $mnr_ver < 23 {
    .side-panel {
      .view {
        &,
        row.activatable { font-weight: 500; }
      }
    }
  }
  @else {
    overlay > stack.background stack grid scrolledwindow.sidebar {
      &:dir(ltr) { border-right: 1px solid $color_fg_div; }
      &:dir(rtl) { border-right: 1px solid $color_fg_div; }

      list {
        @extend %sidebar_template;
      }
    }
  }
}
@else {
  overlay > stack.background stack grid scrolledwindow.sidebar {
    &:dir(ltr) { border-right: 1px solid $color_fg_div; }
    &:dir(rtl) { border-right: 1px solid $color_fg_div; }

    list { @extend %sidebar_template; }
  }
}

// right-pane of AlbumWidget
.discsongsflowbox > flowboxchild {
  // increase the vertical spacing
  margin: rem($menuitem_padding, $sw: 1.0) 0;

  check:only-child { // 'songs' selection-mode check
    margin: 0;
    padding: 0;
    animation: none; // unset animations
  }
}
