// /******************
//  * Gnome-Terminal *
//  ******************/

terminal-window {
  @if $maj_ver == 3 {
    @if $mnr_ver < 23 {
      // FIXME: In XWayland mode, downstream 'transparency' patch causes
      // solid outer margin artifact when users keep enabling transparent
      // background.
      &.csd.background { background-color: transparent; }

      &.background:not(.csd),
      vte-terminal {
        background-color: if($variant == mixed, $color_base_inv,
                                                $color_base);
        color: if($variant == mixed, $color_fg_inv, $color_fg);
      }

      @if $variant == mixed {
        scrollbar {
          background-color: track($color_base_inv, $alpha_foreground_3rd);

          slider {
            background-color: track($color_fg_inv, $alpha_foreground_3rd * $alpha_foreground_3rd);
            &:hover {
              background-color: track($color_fg_inv, $alpha_foreground_2nd * $alpha_foreground_3rd);
            }
            &:active { background-color: $color_fg_inv; }
          }
        }
      }
    }
  }
}

@if $maj_ver == 3 {
  @if $mnr_ver == 22 {
    window.background:not(.csd) { // preferences window (3.27 < ver < 3.31)
      box.horizontal > frame > scrolledwindow > viewport.frame > list {
        @extend %term_pref_window;
      }
    }
  }
  @if $mnr_ver > 23 {
    window.background.csd { // preferences window (>= 3.31)
      box.horizontal > frame > scrolledwindow > viewport.frame > list {
        @extend %sidebar_template;
        @extend %term_pref_window;

        row.activatable button.flat.popup.toggle {
          @extend %pref_down_arrow;
        }
      }
    }
  }
}
@else {
  window.background.csd { // preferences window (>= 3.31)
    box.horizontal > frame > scrolledwindow > viewport.frame > list {
      @extend %sidebar_template;
      @extend %term_pref_window;

      row.activatable button.flat.popup.toggle {
        @extend %pref_down_arrow;
      }
    }
  }
}

%term_pref_window {
  > row.activatable {
    padding: 0; // unset padding;

    > box.horizontal > label { // indentations
      &:dir(ltr) { margin-left: rem($ref_size, $sw: 1.0); }
      &:dir(rtl) { margin-right: rem($ref_size, $sw: 1.0); }
    }

    > box.horizontal > stack > button.popup.toggle {
      min-width: rem($small_widget);
      min-height: rem($small_widget);
      padding: 0;
      @include radius($r);
    }
    &:selected { @extend %selected_sidebar_row; }
  }

  > box.horizontal {
    label { color: $color_fg_3; } // titles

    > stack > button.image-button {
      min-width: rem($small_widget);
      min-height: rem($small_widget);
      padding: 0;
    }
  }
}

%pref_down_arrow {
  @include button(flat-normal, $tc: $color_lbl_sel);
  &:hover { @include button(flat-hover, $tc: $color_lbl_sel); }
  &:active { @include button(flat-active, $tc: $color_lbl_sel); }
  &:checked { @include button(flat-checked, $tc: $color_lbl_sel); }
}