// /*****************
//  * Gnome-Recipes *
//  *****************/

window.background > box.vertical > overlay > revealer.top + stack {
  margin-top: -1px; // hide weird frame
  background-color: $color_bg;
}

window.background > box.vertical > overlay > stack > box.vertical {
  > scrolledwindow > viewport.frame {
    box.vertical > label.heading { color: $color_fg_3; }
  }
}

window.background > box.vertical > overlay > stack > box.horizontal {
  > stack > box.horizontal > scrolledwindow > viewport.frame {
    // right-pane scrolled-window
    > box.vertical {
      > label.heading { color: $color_fg_3; }
    }

    // left-pane sidebar
    > list {
      @extend %sidebar_template;
      &:dir(ltr) { border-right: 1px solid $color_fg_div; }
      &:dir(rtl) { border-left: 1px solid $color_fg_div; }

      > row.activatable {
        margin: -1px 0; // kill stock CSS's border settings
        padding: 0;
        color: $color_fg_2;

        &, &:focus { outline-width: 0; } // unset focus outlines

        > label.sidebar {
          color: $color_fg_2;
          font-weight: 500;
          // FIXME: outset 1px solid shadows for covering ugly hard-coded
          // separators
          box-shadow: 0 -1px $color_bg;
        }

        &:hover {
          &, > label.sidebar { color: $color_fg; }
        }
        &:active,
        &:selected {
          &, &:hover {
            background-color: $color_bg_trk;

            &, > label.sidebar { color: $color_lbl_sel; }
          }
        }
      }
    }
  }
}

// tiles view buttons
button.tile.view { // damned stock CSS
  flowbox > flowboxchild > & {
    &:hover { box-shadow: inset 0 0 0 9999px track($color_fg, $alpha_track_1); }
    &:active { box-shadow: inset 0 0 0 9999px track($color_fg, $alpha_track_2); }
  }

  box > grid > & {
    &:hover {
      box-shadow: inset 0 0 0 9999px if($variant != dark,
                                        track($color_fg_inv, $alpha_track_1),
                                        track($color_fg, $alpha_track_1));
    }
    &:active {
      box-shadow: inset 0 0 0 9999px if($variant != dark,
                                        track($color_fg_inv, $alpha_track_2),
                                        track($color_fg, $alpha_track_2));
    }
  }

  &.recipe {
    &:hover,
    &:active { box-shadow: none; }

    overlay.recipe > image {
      opacity: if($variant != dark, 1.0, $alpha_osd);
      transition-property: opacity,
                            box-shadow;
      transition-timing-function: $transition_t_dec;
      transition-duration: $transition_d_long;
    }

    &:hover,
    &:active {
      overlay.recipe > image { opacity: if($variant != dark, $alpha_osd, 1.0); }
    }
  }
}

// Note box
box.note > label { font-weight: 700; } // title

label.content.note { color: $color_fg_fix; } // enforce dark label color

// title and author box
overlay.recipe > image + box {
  margin-bottom: 6px; // make room from bottom edge of images
  opacity: $alpha_osd;
  &:dir(ltr) {
    margin-right: 12px;

    box,
    label { // labels also have solid background
      &.name.recipe { border-top-right-radius: $r_4; }
    }

    label.author.recipe { border-bottom-right-radius: $r_4; }
  }
  &:dir(rtl) {
    margin-left: 12px;

    box,
    label {
      &.name.recipe { border-top-left-radius: $r_4; }
    }

    label.author.recipe { border-bottom-left-radius: $r_4; }
  }
}