// /****************
//  * Gnome-Photos *
//  ****************/

.photos-entry-tag { @extend .entry-tag; }

headerbar.titlebar > widget > stack > button:not(.flat) {
  &:not(.suggested-action):not(.destructive-action) {
    &:not(.titlebutton):not(.selection-menu) {
      &:not(.text-button):not(.lock):not(.color):not(.image-button) {
        // revert to image-text-button
        @include radius($r_2, none);

        image {
          &:dir(ltr) { padding-left: rem($txt_button_lr_space); }
          &:dir(rtl) { padding-right: rem($txt_button_lr_space); }
        }

        label {
          &:dir(ltr) { padding-right: rem($txt_button_lr_space); }
          &:dir(rtl) { padding-left: rem($txt_button_lr_space); }
        }
      }
    }
  }
}
