// /******************
//  * Gnome-Calendar *
//  ******************/

// 'year-view' sidebar
stack.view > calendar-view.year-view > box.vertical {
  background-color: $color_bg;

  > stack { // unset presets
    > box.sidebar,
    > scrolledwindow > viewport.frame > list.sidebar {
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  }

  // enforce action-button styling for 'Add event...' button
  > button.text-button {
    @extend %action-area-button;

    // add missing borders
    &:dir(ltr) { border-left: 1px solid $color_fg_div; }
    &:dir(rtl) { border-right: 1px solid $color_fg_div; }
  }
}

dialog.background {
  > box.dialog-vbox.vertical > grid.horizontal > revealer > box > box {
    // GcalTimeSelector buttons
    > button.popup.toggle {
      // prevent truncated drop-shadows
      margin: $shadow_margin_3;
    }
  }
}

@if $maj_ver == 3 {
  @if $mnr_ver > 23 {
    // for weird GtkButton with mis-halign-ed search icon
    stack.suggestionbutton > button > image {
      &:dir(ltr) {
        padding-left: calc(#{rem($widget_size)} / 2 - 0.5px
                      - (#{$icon_size} / 2));
      }
      &:dir(rtl) {
        padding-right: calc(#{rem($widget_size)} / 2 - 0.5px
                        - (#{$icon_size} / 2));
      }
    }
  }
}
@else {
  stack.suggestionbutton > button > image {
    &:dir(ltr) {
      padding-left: calc(#{rem($widget_size)} / 2 - 0.5px
                    - (#{$icon_size} / 2));
    }
    &:dir(rtl) {
      padding-right: calc(#{rem($widget_size)} / 2 - 0.5px
                      - (#{$icon_size} / 2));
    }
  }
}
