// /**********
//  * Polari *
//  **********/

.polari-room-list { // override labels
  row.activatable {
    font-weight: 500;
    &:not(:hover):not(:active):not(:selected) {
      label,
      image { opacity: 1.0; }
    }

    &.inactive {
      &:not(:hover):not(:active):not(:selected) {
        label,
        image { opacity: $alpha_foreground_3rd; }
      }
    }

    &:selected {
      background-image:
        image(mix($color_bg_sel, $color_bg, percentage($alpha_track_2)));
      &:dir(ltr) { box-shadow: inset 4px 0 $color_bg_sel; }
      &:dir(rtl) { box-shadow: inset -4px 0 $color_bg_sel; }
    }

    label.pending-messages-count {
      background-image: image($color_bg_sgst);
    }
  }
}

.polari-nick-entry {
  border-image: none;
  font-weight: 700;
}

// bottom-paned entry area
window.background > box.horizontal > overlay > stack > overlay > box.vertical {
  > stack.view { // mimic inline-toolbar styling
    border-style: solid;
    border-width: 1px 0 0;
    border-color: $color_fg_div;
    background-color: $color_bg_dark;
  }
}

popover.emoji-picker flowboxchild.emoji {
  // FIXME: why did devs ignore the global emoji theming?
  // Should set hover pseudo-class to child widget node.
  &:hover > widget:not(:hover) label { color: $color_fg_sel; }
}