// /************
//  * Shotwell *
//  ************/

// FIXME: treeview node styling is locked, there's no way to override
window.background > box.vertical > paned.horizontal {
  > paned.vertical > box.vertical + separator {
    @if $variant == dark { background-color: $color_fg_div_sld; }

    + frame {
      background-color: $color_bg_dark;

      > border { border: unset; } // unset unneeded frame
    }
  }

  // inline-toolbar?
  > box.vertical > revealer > toolbar.bottom-toolbar {
    border-top: 1px solid $color_fg_div;
    background-color: $color_bg_dark;
    &:dir(ltr) { padding-right: $toolbar_padding * 2; }
    &:dir(rtl) { padding-left: $toolbar_padding * 2; }
  }
}
