// /********
//  * Nemo *
//  ********/

.nemo-desktop.nemo-canvas-item {
  @extend %nautilus_desktop_items;
}

.nemo {
  &-canvas-item { @extend .nautilus-canvas-item; }

  &-list-dim-label { @extend .nautilus-list-dim-label; }
}

.nemo-window {
  // tone down unfocused splitted-pane
  box.nemo-inactive-pane > notebook {
    > stack > box.vertical { opacity: $alpha_foreground_3rd; }
  }

  treeview.places-treeview { // use opaque colors
    -NemoPlacesTreeView-disk-full-bg-color:
      mix($color_fg, $color_bg, percentage($alpha_track_out));
    -NemoPlacesTreeView-disk-full-fg-color: $color_bg_acc;
  }

  // workaround for invisible text in rename entry (Eeleditable.entry)
  .nemo-window-pane scrolledwindow widget > widget.entry {
    &, &:focus {
      @include transition(reset);

      &:selected { // FIXME: selection node doesn't work?
        @extend %selected_items;
      }
    }
  }

  infobar.error { // Administrative privileges
    label {
      font-size: 110%;
      font-weight: 700;
    }
  }

  // main tool-bar styling
  grid > box > box > toolbar.primary-toolbar {
    border-bottom: 1px solid $color_fg_div; // draw bottom border
  }

  // tweak notebook color
  grid > paned > box > paned > box > notebook {
    &,
    > stack:not(:only-child) { background-color: $color_base; }
  }

  // remove double-border
  grid.vertical > paned.horizontal > box.vertical {
    > scrolledwindow.frame {
      border-width: 0;
    }
  }

  // force using flat-style on bottom bar
  grid.vertical > widget {
    background-color: $color_bg_dark;

    > box {
      padding: $toolbar_padding;

      > button.image-button { @include radius($r_2); }

      separator.vertical { // remove separator
        min-width: 0;
        background-color: transparent;
      }
    }
  }
}