// /************
//  * App Menu *
//  ************/

#appMenu {
  @if $ver < 3.33 {
    // deprecated >= 3.33/34 cycle
    @include image-loader($url: 'process-working.svg', $type: sp);
  }
  padding: if($ref_weight >= 1.0, 0 10px, 0 6px);

  // LR padding and make more gap between label and spinner
  StLabel {
    &:ltr { padding: if($ref_weight >= 1.0, 0 10px 1px 3px, 0 6px 1px 2px); }
    &:rtl { padding: if($ref_weight >= 1.0, 0 3px 1px 10px, 0 2px 1px 6px); }
  }

  .label-shadow { color: transparent; }
}


@if $ver > 3.25 { // limit maximum width
  .app-menu,
  .app-well-menu { max-width: 28em; }
}

.aggregate-menu {
  min-width: 24em;

  .popup-menu-icon {
    padding: if($ref_weight >= 1.0, 0 6px, 0 4px);
    @if $ver > 3.35 { -st-icon-style: symbolic; }
  }
}

@if $ver < 3.35 {
  .system-menu-action {
    padding: if($ref_weight >= 1.0, 10px, 8px);
    border-radius: $r;
    @include button(normal);
    @if $ver > 3.25 { -st-icon-style: symbolic; } // >= 3.29.90
    &:hover { @include button(hover); }
    &:focus { @include button(focus); }
    &:active {
      &, &:focus { @include button(active); }
    }
    &:checked { // this might not be needed
      &, &:focus { @include button(checked); }
    }

    > StIcon { icon-size: $icon_size; }
  }
}
  