// /************************
//  * IBus Candidate Popup *
//  ************************/

.candidate {
  &-popup-content {
    padding: 0.5em;
    spacing: 0.3em;
    color: $color_fg_osd_3;
  }

  &-index {
    color: $color_fg_osd_2;
    &:ltr { padding: 0.3em 0.5em 0.3em 0; }
    &:rtl { padding: 0.3em 0 0.3em 0.5em; }
  }

  &-box {
    padding: 0.3em 0.5em;
    border-radius: $r_2;
    color: $color_fg_osd_2;
    font-size: 110%;
    transition-duration: $transition_d_none;
    &:hover {
      background-color: $color_bg_osd_semi_fill;
      color: $color_fg_osd;

      .candidate-index { color: $color_fg_osd; }
    }
    &:active {
      background-color: $color_bg_osd_fill;
      color: $color_fg_osd;

      .candidate-index { color: $color_fg_osd; }
    }
    &:selected {
      background-color: $color_bg_sgst;
      color: $color_fg_sel;

      .candidate-index { color: $color_fg_sel_2; }
    }
  }

  &-page-button-box {
    height: 2em;

    .vertical & { padding-top: 0.5em; }

    .horizontal & { padding-left: 0.5em; }
  }

  &-page-button {
    padding: 4px;
    @if $variant != light {
      @include button(flat-normal, $tc: $color_fg_acc_inv);
      &:hover { @include button(flat-hover, $tc: $color_fg_acc_inv); }
      &:active { @include button(flat-active, $tc: $color_fg_acc_inv); }
      &:insensitive { @include button(flat-disabled, $tc: $color_fg_osd); }
    }
    @else {
      @include button(flat-normal, $tc: $color_fg_acc);
      &:hover { @include button(flat-hover, $tc: $color_fg_acc); }
      &:active { @include button(flat-active, $tc: $color_fg_acc); }
      &:insensitive { @include button(flat-disabled, $tc: $color_fg); }
    }

    &-previous {
      border-radius: $r_2;
      border-right-width: 0;
    }

    &-next { border-radius: $r_2; }

    &-icon { icon-size: $icon_size; }
  }
}
