// /*****************
//  * Looking Glass *
//  *****************/

$tool_icon_size: 24px;

#LookingGlassDialog {
  spacing: 4px;
  padding: 8px;
  border: none;
  border-radius: $r_8; // affects small OSD while inspecting
  background-color: opacity($osd_bg, $alpha_osd);
  color: $osd_fg;
  box-shadow: $z-depth-4;

  &.lg-dialog {
    padding: 0 0 $r_8;
    border-radius: 0 0 $r_8 $r_8; // shape bottom-only radius for main window
  }

  > #Toolbar {
    padding: if($ref_weight >= 1.0, 0 8px, 0 6px);
    border: none;
    border-radius: 0;
    background-color: $hidden_fill_bg;
    box-shadow:
      inset 0 -1px if($variant != light,
                      mix(white, $osd_bg, percentage($alpha_div_2)),
                      mix(black, $color_bg_dark, percentage($alpha_div_1)));

    > StIcon { // 'color-picker' and 'trash'
      // base-line shift
      padding: if($ref_weight >= 1.0, 5px 4px 3px, 4px 3px 2px);
    }
  }

  .labels { spacing: 0; }

  .notebook-tab {
    min-height: $tool_icon_size + if($ref_weight >= 1.0, 8px, 6px);
    padding: if($ref_weight >= 1.0, 0 8px * 2, 0 6px * 2);
    border-bottom-width: 0;
    color: $osd_ter_fg;
    @if $ver < 3.35 { // stop using fixed-fonts
      font-family: $font-family;
      font-weight: 500;
    }
    @else { font-weight: 700; } // fixed-fonts are used
    font-size: 90%;
    transition-duration: $transition_d_standard;
    &:hover {
      border-bottom-width: 0;
      border-color: transparent;
      background-color: $hidden_fill_bg;
      color: $osd_fg;
      box-shadow: inset 0 -2px $osd_out_fg;
      text-shadow: none;
      transition-duration: $transition_d_standard;
    }
    &:selected {
      border-bottom-width: 0;
      border-color: transparent;
      background-color: $hidden_fill_bg;
      color:
        if($variant != light,
           saturate(lighten($color_bg_sel, percentage($alpha_track_2)),
             percentage($alpha_track_2)),
           $color_bg_sel);
      box-shadow: inset 0 -2px $color_bg_sel;
      text-shadow: none;
      transition-duration: $transition_d_standard;
    }

    StLabel { padding-bottom: 0.1em; }
  }

  StBoxLayout#EvalBox,
  StBoxLayout#ResultsArea {
    padding: 8px;
    spacing: 4px;
  }
}

.lg-dialog {
  StEntry {
    selection-background-color: $color_bg_sel;
    selected-color: $color_fg_sel;
    @include entry(normal, $tc: $osd_fg);
    &:hover { @include entry(hover, $tc: $osd_fg); }
    &:focus { @include entry(focus, $tc: $osd_fg); }
    &:insensitive { @include entry(disabled, $tc: $osd_fg); }
  }

  .shell-link {
    color: opacity($osd_link_fg, $alpha_foreground_2nd);
    &:hover,
    &:active { color: $osd_link_fg; }
  }

  @if $ver > 3.37 {
    .actor-link {
      color: $osd_sec_fg;
      &:hover,
      &:active { color: $osd_fg; }
    }
  }
}

.lg-completions-text {
  color: $osd_sec_fg;
  font-style: italic;
  font-size: 90%;
}

.lg-obj-inspector {
  &-title { spacing: 4px; }

  &-button {
    // subtract bottom-padding and outlined button borders
    @if $ver < 3.35 {
      height: $close_button_size - 1px - (1px * 2);
    }
    @else {
      height: calc(#{$close_button_size} - 1px - (1px * 2));
    }
    padding: if($ref_weight >= 1.0, 0 16px 1px, 0 12px 1px);
    border-radius: $r_2;
    font-weight: 500;
    @if $variant == mixed {
      @include button(normal, $c: $osd_base, $tc: $osd_fg);
      &:hover { @include button(hover, $c: $osd_base, $tc: $osd_fg); }
      &:focus { @include button(focus, $c: $osd_base, $tc: $osd_fg); }
      &:active { @include button(active, $c: $osd_base, $tc: $osd_fg); }
      &:insensitive { @include button(flat-disabled, $tc: $osd_fg); }
    }
    @else {
      @include button(normal);
      &:hover { @include button(hover); }
      &:focus { @include button(focus); }
      &:active { @include button(active); }
      &:insensitive { @include button(flat-disabled); }
    }
  }
}

#lookingGlassExtensions { padding: 8px; }

.lg-extensions-list {
  padding: 4px;
  spacing: 6px;
}

.lg-extension {
  padding: 4px;
  border: none;
  border-radius: $r_2;
  @if $ver > 3.35 { background-color: transparent; }

  &-name {
    padding-bottom: (6px / 2) 0;
    color: $osd_fg;
    font-weight: 700;
    font-size: 130%;
  }

  &-description {
    color: $osd_sec_fg;
    font-weight: 400;
    font-size: 90%;
    &:ltr { padding: 6px 0 6px (6px * 2); }
    &:rtl { padding: 6px (6px * 2) 6px 6px; }
  }

  &-meta {
    spacing: 6px;
    font-size: 100%;
    &:ltr { padding: 6px 0 6px (6px * 2); }
    &:rtl { padding: 6px (6px * 2) 6px 6px; }
  }
}

StBoxLayout#Windows {
  &:ltr { padding: (8px + 4px + 6px / 2) 0 (8px + 4px) (8px + 4px + 6px); }
  &:rtl { padding: (8px + 4px + 6px / 2) (8px + 4px + 6px) (8px + 4px) 0; }
}

#LookingGlassPropertyInspector {
  padding: 6px;
  border: 1px solid if($variant != light,
                       mix(white, $osd_bg, percentage($alpha_div_2)),
                       $color_fg_div_sld);
  border-radius: 0;
  background-color: $osd_bg;
  color: $osd_fg;
  box-shadow: $empty_shadow;
}
