// /**************
//  * Rubberband *
//  **************/

%rubberband {
  border: 1px solid $color_bg_sel;
  background-color: opacity($color_bg_sel, $alpha_track_out);
  box-shadow: $empty_shadow; // for safety
}

@if $ver > 3.31 {
  .select-area-rubberband {
    border-radius: 0;
    @extend %rubberband;
  }
}
