// /**************
//  * Scrollbars *
//  **************/

StScrollView {
  // disable undershoots
  &.vfade {
    @if $ver < 3.33 { -st-vfade-offset: 0; }
    @else {
      &.search-display {
        -st-vfade-offset: $icon_size * 3;
      }
    }
  }
  &.hfade { -st-hfade-offset: 0; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: if($ref_weight >= 1.0, 0.9em, 0.6em);
    min-height: if($ref_weight >= 1.0, 0.9em, 0.6em);
  }

  StBin#trough {
    margin: 0;
    border-radius: 0;
    background-color: opacity($osd_fg, $alpha_track_1);
  }

  StButton#vhandle,
  StButton#hhandle {
    margin: 0;
    border-radius: 0;
    background-color: opacity($osd_fg, $alpha_foreground_3rd * $alpha_foreground_3rd);
    &:hover { background-color: opacity($osd_fg, $alpha_foreground_2nd * $alpha_foreground_3rd); }
    &:active { background-color: $osd_fg; }
  }
}
