// /*************************
//  * Tiled Window Previews *
//  *************************/

.tile-preview { // no radius
  border: 1px solid $color_bg_sel;
  border-radius: 0;
  background-color: opacity($color_bg_sel, $alpha_track_out);

  &-left.on-primary,
  &-left.on-primary.tile-preview-right,
  &-right.on-primary { border-radius: 0; }
}
