// /********************************
//  * Auth Dialogs & Screen Shield *
//  ********************************/

%framed_user_icon {
  background-size: contain;
  border: 0 none transparent;
  color: $color_fg_osd;
  &:hover {
    border-color: $color_fg_osd;
    color: $color_fg_osd;
  }
}

@if $ver < 3.31 {
  .framed-user-icon {
    @extend %framed_user_icon;
    border-radius: $r_2;
  }
}
@else {
  .user-icon {
    @extend %framed_user_icon;
    border-radius: $r; // circular shape
  }
}
