// /*******************
//  * Workspace Pager *
//  *******************/

.workspace {
  &-thumbnails,
  &-thumbnails-left { // container ala dash
    visible-width: 32px + 24px; // amount visible before hover
    spacing: 12px;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 12px;
    border: none;
    background-color: $color_bg;
    color: $color_fg;
    box-shadow: $z-depth-4;

    StBin.placeholder { // solid-line indicator for drop-target
      height: 4px;
      background-color: $color_bg_acc;
    }
  }

  &-thumbnail-indicator {
    border: none;
    border-radius: 0;
    background-color: $hidden_fill_bg;
    &:ltr {
      padding: 0 0 0 12px;
      box-shadow: inset 4px 0 $color_bg_sel;
    }
    &:rtl {
      padding: 0 12px 0 0;
      box-shadow: inset -4px 0 $color_bg_sel;
    }
  }

  &-thumbnails,
  &-thumbnails-left:rtl {
    border-radius: $r_8 0 0 $r_8;
    margin-left: 24px;
  }

  &-thumbnails:rtl,
  &-thumbnails-left {
    border-radius: 0 $r_8 $r_8 0;
    margin-right: 24px;

    .workspace-thumbnail-indicator {
      padding: 0 12px 0 0;
      box-shadow: inset -4px 0 $color_bg_sel;
    }
  }
}
