@import 'components/base';

@import 'components/flowbox';

@import 'components/assistant';

@import 'components/spinner';

@import 'components/typography';

@import 'components/textentries';

@import 'components/buttons';

@import 'components/links';

@import 'components/spinbutton';

@import 'components/comboboxes';

@import 'components/toolbars';

@import 'components/headerbars';

@import 'components/pathbars';

@import 'components/treeviews';

@import 'components/menus';

@import 'components/popovers';

@import 'components/notebooks';

@import 'components/scrollbars';

@import 'components/switches';

@import 'components/checkradios';

@import 'components/scales';

@import 'components/progressbars';

@import 'components/levelbars';

@import 'components/printdialogs';

@import 'components/frames';

@import 'components/lists';

@import 'components/notifications';

@import 'components/expanders';

@import 'components/calendar';

@import 'components/dialogs';

@import 'components/sidebars';

@import 'components/filechoosers';

@import 'components/paned';

@import 'components/video';

@import 'components/infobar';

@import 'components/tooltips';

@import 'components/colorchooser';


// /********
//  * Misc *
//  ********/

// content view (grid/list)
.content-view {
  background-color: $color_bg;
  @if $maj_ver == 4 {
    &:hover { -gtk-icon-filter: brightness(1.2); }
  }
}

// Decouple the font of context menus from their entry/textview
.context-menu {
  font-weight: 400;
  font-size: 100%;
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & .vertical button.flat,
  .vertical button.flat { // +/- buttons on GtkVolumeButton popup
    &:first-child { // '+' button
      &:hover {
        @include button(flat-hover, $tc: $color_bg_sccs);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_bg_sccs);
      }
    }
    &:last-child { // '-' button
      &:hover {
        @include button(flat-hover, $tc: $color_err);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_err);
      }
    }
  }

  .osd & button,
  button { @include radius($r); }
}

button.flat.scale { // standalone Speaker/Mic buttons
  // I assume both are image-button *by default*
  // with the image-button/text-button classes automatically applied
  // depending on the button child these selectors can be deleted.
  // @extend %image_button;
  padding: 0;
  @include radius($r);
}

%floating_bar {
  border: 1px solid transparent;
  color: if($variant == mixed, $color_fg_inv, $color_fg);
  background-color: if($variant == mixed, $color_bg_tooltip_inv,
                                          $color_bg_tooltip);
  font-size: 90%;
  opacity: $alpha_osd;
}

.floating-bar {
  @extend %floating_bar;
  padding: 0;

  label { min-height: rem($icon_size * 1.75); }

  button {
    @extend %fb_child_spacing;
    @if $variant == mixed {
      @extend %inv-action-area-button;
    }
    @else {
      @extend %action-area-button;
    }
  }

  &.bottom.left { @extend %floating_bar_left; }

  &.bottom.right { @extend %floating_bar_right; }
}

%fb_child_spacing {
  min-height: rem($icon_size * 1.75);
  min-width: rem($icon_size * 1.75);
  margin: 0;
  padding: 0;
}

%floating_bar_left {
  @include radius(0 $r_4 0 0, none);
  border-width: 1px 1px 0 0;
}

%floating_bar_right {
  @include radius($r_4 0 0 0, none);
  border-width: 1px 0 0 1px;
}

@import 'components/decorations';

@import 'components/selections';

@import 'components/touchhandles';

@import 'components/shortcuts';

@import 'components/appicons';

@import 'components/emojipicker';
