// /*******************
//  * Xfce-Notify-4.0 *
//  *******************/

// FIXME: drop-shadow composition does not work
#XfceNotifyWindow {
  &, &:hover {
    border-radius: 2px;
    border: 1px solid $foreground_div;
    color: if($variant == mixed, $foreground_inv, $foreground);
    @if $variant == mixed { background-color: track($background_tooltip_inv, $alpha_osd); }
    @else { background-color: track($background_tooltip, $alpha_osd); }
    box-shadow: none;
  }

  box.vertical {
    > label#summary {
      color: if($variant == mixed, $foreground_inv, $foreground);
      font-weight: 700;
    }

    > label#body {
      color: if($variant == mixed, $foreground_inv_secondary, $foreground_secondary);
    }
  }

  buttonbox button {
    @if $variant == mixed {
      @include button(flat-normal, $text-color: $foreground_accent_sec_inv);
      @include ink-reaction(normal, $fc: $foreground_accent_inv, $tr: ink-normal-dec);
      font-weight: 500;
      &:hover {
        @include button(flat-hover, $text-color: $foreground_accent_inv);
      }
      &:active {
        @include button(flat-active, $text-color: $foreground_accent_inv);
        @include ink-reaction(active-dec, $fc: $foreground_accent_inv, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $text-color: $foreground_inv);
      }
      &:checked {
        @include button(flat-checked, $text-color: $foreground_accent_inv);
        &:disabled {
          @include button(flat-checked-disabled, $text-color: $foreground_accent_inv);
        }
      }
    }
    @else {
      @include button(flat-normal, $text-color: $foreground_accent_sec);
      @include ink-reaction(normal, $fc: $foreground_accent, $tr: ink-normal-dec);
      font-weight: 700;
      &:hover {
        @include button(flat-hover, $text-color: $foreground_accent);
      }
      &:active {
        @include button(flat-active, $text-color: $foreground_accent);
        @include ink-reaction(active-dec, $fc: $foreground_accent, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $text-color: $foreground);
      }
      &:checked {
        @include button(flat-checked, $text-color: $foreground_accent);
        &:disabled {
          @include button(flat-checked-disabled, $text-color: $foreground_accent);
        }
      }
    }
  }

  progressbar {
    min-width: $progress_size;
    min-height: $progress_size;

    trough {
      border-style: none;
      background-color: track($background_accent, $background_tracker_out);
      box-shadow: none;
    }

    progress {
      border-style: none;
      border-radius: 0;
      background-image: none;
      background-color: $background_accent;
    }
  }
}

