// /*******************
//  * Xfce-Notify-4.0 *
//  *******************/

// FIXME: drop-shadow composition does not work
#XfceNotifyWindow {
  &, &:hover {
    border-radius: 2px;
    border: 1px solid $color_fg_div;
    color: if($variant == mixed, $color_fg_inv, $color_fg);
    @if $variant == mixed { background-color: track($color_bg_tooltip_inv, $alpha_osd); }
    @else { background-color: track($color_bg_tooltip, $alpha_osd); }
    box-shadow: none;
  }

  box.vertical {
    > label#summary {
      color: if($variant == mixed, $color_fg_inv, $color_fg);
      font-weight: 700;
    }

    > label#body {
      color: if($variant == mixed, $color_fg_inv_2, $color_fg_2);
    }
  }

  buttonbox button {
    @if $variant == mixed {
      @include button(flat-normal, $tc: $color_fg_acc_inv_2);
      @include ink-reaction(normal, $fc: $color_fg_acc_inv, $tr: ink-normal-dec);
      font-weight: 500;
      &:hover {
        @include button(flat-hover, $tc: $color_fg_acc_inv);
      }
      &:active {
        @include button(flat-active, $tc: $color_fg_acc_inv);
        @include ink-reaction(active-dec, $fc: $color_fg_acc_inv, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_fg_inv);
      }
      &:checked {
        @include button(flat-checked, $tc: $color_fg_acc_inv);
        &:disabled {
          @include button(flat-checked-disabled, $tc: $color_fg_acc_inv);
        }
      }
    }
    @else {
      @include button(flat-normal, $tc: $color_fg_acc_2);
      @include ink-reaction(normal, $fc: $color_fg_acc, $tr: ink-normal-dec);
      font-weight: 700;
      &:hover {
        @include button(flat-hover, $tc: $color_fg_acc);
      }
      &:active {
        @include button(flat-active, $tc: $color_fg_acc);
        @include ink-reaction(active-dec, $fc: $color_fg_acc, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_fg);
      }
      &:checked {
        @include button(flat-checked, $tc: $color_fg_acc);
        &:disabled {
          @include button(flat-checked-disabled, $tc: $color_fg_acc);
        }
      }
    }
  }

  progressbar {
    min-width: $progress_size;
    min-height: $progress_size;

    trough {
      border-style: none;
      background-color: track($color_bg_acc, $color_fg_trk_out);
      box-shadow: none;
    }

    progress {
      border-style: none;
      border-radius: 0;
      background-image: none;
      background-color: $color_bg_acc;
    }
  }
}

