// /*************************************
//  * Password or Authentication Dialog *
//  *************************************/

.prompt-dialog {
  // this is the width of the entire modal popup
  @if $ver < 3.35 { width: 34em; }
  @else { width: 28em; }
  border: none;

  @if $ver < 3.35 {
    .message-dialog {
      &-main-layout {
        spacing: if($ref_weight >= 1.0, 24px, 18px);
        padding: if($ref_weight >= 1.0, 10px, 8px);
      }
    }

    &-content { spacing: if($ref_weight >= 1.0, 16px, 12px); }

    &-title {
      color: $color_fg_osd;
      font-weight: 500;
      font-size: 130%;
    }
  }

  @if $ver < 3.35 {
    &-description {
      &:ltr { text-align: left; }
      &:rtl { text-align: right; }
    }
  }

  @if $ver < 3.35 {
    &-password-box {
      spacing: 1em;
      @if $ver < 3.33 {
        padding-bottom: if($ref_weight >= 1.0, 1em, 0.7em);
      }
    }
  }
  @else {
    &-password {
      &-grid {
        spacing-rows: if($ref_weight >= 1.0, 8px, 6px);
        spacing-columns: if($ref_weight >= 1.0, 6px, 4px);

        .prompt-dialog-password-entry {
          width: auto;
          // concern the 16px spinner size
          &:ltr { margin-left: 4px + $icon_size; }
          &:rtl { margin-right: 4px + $icon_size; }
        }
      }

      &-layout { spacing: if($ref_weight >= 1.0, 8px, 6px); }

      &-entry { width: 20em; }
    }
  }

  &-error-label { color: $color_err; }

  &-error-label,
  &-info-label,
  &-null-label {
    @if $ver < 3.35 {
      padding-bottom: if($ref_weight >= 1.0, 8px, 6px);
    }
    @else { text-align: center; }
    font-size: 100%;
  }

  @if $ver < 3.35 {
    @if $ver > 3.31 {
      &-pim-box,
      &-keyfiles-box { spacing: 1em; }

      &-button.button {
      }
    }

    &-grid { @extend %table_grid_spacing; }
  }

  @if $ver > 3.35 {
    &-caps-lock-warning {
      @extend .prompt-dialog-error-label;
      padding-left: if($ref_weight >= 1.0, 8px, 6px);
    }
  }
}

.hidden { color: transparent; }
