// /****************
//  * Login Dialog *
//  ****************/

$login_dialog_width: 23em;

.login-dialog {
  &-banner-view {
    max-width: $login_dialog_width;
    padding-top: 24px;
  }

  // reset
  border: none;
  background-color: transparent;

  StEntry {
    @include entry(normal, $tc: $ovv_fg);
    selection-background-color: $color_bg_sel;
    selected-color: $color_fg_sel;
    transition-duration: $transition_d_none;
    &:hover { @include entry(hover, $tc: $ovv_fg); }
    &:focus { @include entry(focus, $tc: $ovv_fg); }
    &:insensitive { @include entry(disabled, $tc: $ovv_fg); }

    StIcon.capslock-warning { color: $color_warn; } // CapsLock warning

    @if $ver > 3.35 {
      .hint-text { color: $ovv_ter_fg; }
    }
  }

  .modal-dialog-button-box { spacing: 1em; }

  .modal-dialog-button {
    padding: 7px 16px 8px;
    font-weight: 500;
    font-size: 110%;
    @include button(flat-normal, $tc: $ovv_fg);
    &:hover { @include button(flat-hover, $tc: $ovv_fg); }
    &:focus { @include button(flat-focus, $tc: $ovv_fg); }
    &:active { @include button(flat-active, $tc: $ovv_fg); }
    &:insensitive { @include button(flat-disabled, $tc: $ovv_fg); }
    &:default { // suggested-action button
      padding: (7px - 2px) (16px - 2px) (8px - 2px); // subtract borders
      @include button(suggested-normal, $c: $color_bg_sgst, $tc: $color_fg_sel);
      &:hover {
        @include button(suggested-hover, $c: $color_bg_sgst, $tc: $color_fg_sel);
      }
      &:focus {
        @include button(suggested-focus, $c: $color_bg_sgst, $tc: $color_fg_sel);
      }
      &:active { @include button(suggested-active); }
      &:insensitive {
        // revert to standard padding since mixin has no borders
        padding: 7px 16px 8px;
        @include button(suggested-disabled, $tc: $color_fg_sel);
      }
    }
  }

  @if $ver > 3.35 { // circular buttons
    .cancel-button,
    .switch-user-button,
    .login-dialog-session-list-button {
      width: $icon_size * 2;
      height: $icon_size * 2;
      padding: 0;
      border-radius: $r;

      StIcon { icon-size: $icon_size; }
    }

    .login-dialog-session-list-button {
      &:active,
      &:checked {
        background-color: $color_bg_sel;
        color: $color_fg_sel;
      }
    }
  }
}

%login_label_sizing {
  font-weight: 700;
  font-size: 120%;
  text-align: left;
}

%login_label_sizing_vrt {
  font-weight: 500;
  font-size: 150%;
  text-align: center;
}

%login_label_spacing {
  &:ltr { padding-left: 1em; }
  &:rtl { padding-right: 1em; }
}

@if $ver > 3.25 {
  @if $ver < 3.35 {
    .login-dialog-username,
    .user-widget-label {
      color: $ovv_fg;
      @extend %login_label_sizing;
      @extend %login_label_spacing;
    }
  }
  @else {
    .user-widget-label {
      color: $ovv_fg;

      .user-widget.horizontal & {
        @extend %login_label_sizing;
        @extend %login_label_spacing;
      }

      .user-widget.vertical & {
        padding-top: if($ref_weight >= 1.0, 12px, 8px);
        @extend %login_label_sizing_vrt;
      }
    }

    .user-icon {
      $hrz_padding: 10px;
      $vrt_padding: 20px;

      .user-widget.horizontal & {
        icon-size: $icon_size * 4;

        StIcon {
          width: ($icon_size * 4) - ($hrz_padding * 2);
          height: ($icon_size * 4) - ($hrz_padding * 2);
          padding: ($hrz_padding - 1px) $hrz_padding
                   ($hrz_padding + 1px) $hrz_padding;
        }
      }

      .user-widget.vertical & {
        icon-size: $icon_size * 8;

        StIcon {
          width: ($icon_size * 8) - ($vrt_padding * 2);
          height: ($icon_size * 8) - ($vrt_padding * 2);
          padding: ($vrt_padding - 2px) $vrt_padding
                   ($vrt_padding + 2px) $vrt_padding;
        }
      }
    }
  }
}
@else {
  .login-dialog-username,
  .user-widget-label {
    padding-left: 15px;
    color: $ovv_fg;
    @extend %login_label_sizing;
  }

  .user-widget-label { @extend %login_label_spacing; }
}

.login-dialog {
  &-logo-bin { padding: 24px 0; }

  &-banner { color: $ovv_sec_fg; }

  &-button-box {
    @if $ver > 3.35 { width: $login_dialog_width; }
    spacing: 1em;
  }

  @if $ver > 3.35 {
    &-message { text-align: center; }
  }

  &-message-warning { color: $color_warn; }

  &-message-hint {
    padding-top: 0;
    padding-bottom: 20px;
    color: $ovv_ter_fg;
  }

  &-user-selection-box { padding: 100px 0; }

  &-not-listed-button {
    // this class seems almost meaningless
    margin: 12px 0 0;

    &:ltr { margin-right: 4px; }
    &:rtl { margin-left: 4px; }
  }

  &-not-listed-label {
    padding: 4px 8px 5px;
    border-radius: $r_2;
    color: $ovv_acc_fg;
    font-weight: 500;
    font-size: 90%;
    text-align: center;

    .login-dialog-not-listed-button:focus & {
      color: $ovv_acc_fg;
      background-color: $hidden_fill_bg;
      box-shadow: inset 0 0 0 2px $acc_fill_bg;
    }

    .login-dialog-not-listed-button:hover & {
      color: $ovv_acc_fg;
      background-color: $acc_semi_fill_bg;
    }

    .login-dialog-not-listed-button:active & {
      color: $ovv_acc_fg;
      background-color: $acc_fill_bg;
      box-shadow: $empty_shadow;
    }
  }

  &-user-list {
    width: $login_dialog_width;
    spacing: 12px;

    &:expanded .login-dialog-user-list-item {
      @if $ver < 3.25 {
        &:focus {
          color: $ovv_fg;
          background-color: $hidden_fill_bg;
          box-shadow: inset 0 0 0 2px $ovv_out_fg;
        }
        &:hover {
          color: $ovv_fg;
          background-color: $ovv_semi_fill_bg;
        }
        &:active {
          color: $ovv_fg;
          background-color: $ovv_fill_bg;
        }
      }
      &:selected {
        &, &:focus {
          background-color: $hidden_fill_bg;
          box-shadow: inset 0 0 0 2px opacity($color_bg_sel, $alpha_track_out);
        }
        &:hover,
        &:hover:focus {
          background-color: opacity($color_bg_sel, $alpha_track_1);
        }
        &:active,
        &:active:focus {
          background-color: opacity($color_bg_sel, $alpha_track_2);
        }
      }

      &:logged-in {
        border-radius: 0;
        background-color: opacity($color_bg_sel, $alpha_track_2);
        &:focus,
        &:hover {
          background-color: mix(opacity($color_bg_sel, $alpha_track_2),
                                opacity($ovv_semi_fill_bg, $alpha_foreground_3rd));
        }
        &:active {
          background-color: mix(opacity($color_bg_sel, $alpha_track_2),
                                opacity($ovv_fill_bg, $alpha_foreground_3rd));
        }

        &:ltr { box-shadow: inset 4px 0 $color_bg_sel; }
        &:rtl { box-shadow: inset -4px 0 $color_bg_sel; }
      }
    }

    &-view { -st-vfade-offset: 0; }
  }

  &-user-list-item {
    padding: 4px 4px 0;
    border-radius: $r_2;
    transition-duration: $transition_d_short;

    // exclude timed-login-indicator
    &:ltr .user-widget { padding-right: 1em; }
    &:rtl .user-widget { padding-left: 1em; }

    @if $ver > 3.25 {
      .login-dialog-username, // actual label color
      .user-widget-label { color: $ovv_sec_fg; }
    }

    &:focus {
      background-color: $hidden_fill_bg;
      box-shadow: inset 0 0 0 2px $ovv_out_fg;
    }
    &:hover { background-color: $ovv_semi_fill_bg; }
    &:active { background-color: $ovv_fill_bg; }
    &:selected {
      &, &:focus {
        background-color: $hidden_fill_bg;
        box-shadow: inset 0 0 0 2px opacity($color_bg_sel, $alpha_track_out);
      }
      &:hover,
      &:hover:focus {
        background-color: opacity($color_bg_sel, $alpha_track_1);
      }
      &:active,
      &:active:focus {
        background-color: opacity($color_bg_sel, $alpha_track_2);
      }
    }

    &:focus,
    &:hover,
    &:active {
      .login-dialog-username,
      .user-widget-label { color: $ovv_fg; }
    }
    &:selected {
      &, &:focus {
        .login-dialog-username,
        .user-widget-label { color: $ovv_sel_label; }
      }
    }

    .login-dialog-timed-login-indicator {
      height: 4px;
      margin: 4px 0 0 0;
      background-color: opacity($color_bg_acc, $alpha_foreground_2nd);
    }

    &:focus .login-dialog-timed-login-indicator {
      background-color: $color_bg_acc;
    }
  }
}

.login-dialog-prompt {
  &-layout {
    width: $login_dialog_width;
    spacing: 1em;
    padding-top: 24px;
    padding-bottom: 12px;
  }

  @if $ver > 3.35 {
    &-entry { height: 1.5em; }
  }

  &-label {
    padding-top: 1em;
    color: $ovv_ter_fg;
    font-size: 100%;
  }
}

@if $ver < 3.35 {
  .login-dialog-session {
    &-list-button {
      padding: 4px;
      border-radius: $r;
      @include button(flat-normal, $tc: $ovv_fg);
      &:focus { @include button(flat-focus, $tc: $ovv_fg); }
      &:hover { @include button(flat-hover, $tc: $ovv_fg); }
      &:active {
        background-color: $color_bg_sel;
        color: $color_fg_sel;
      }

      StIcon { icon-size: $icon_size; }
    }
  }
}