// /*****************
//  * Modal Dialogs *
//  *****************/

.headline { font-size: 110%; }

.lightbox { background-color: black; }

.flashspot { background-color: white; }

.modal-dialog {
  border: none;
  border-radius: $r_8;
  color: $osd_fg;
  background-color: opacity($osd_bg, $alpha_osd);
  @if $ver < 3.31 { box-shadow: $z-depth-4; }
  // FIXME: Lock drop-shadows until upstream computes proper shadow-region
  @else { box-shadow: $empty_shadow; }

  &-content-box {
    @if $ver > 3.35 {
      max-width: 28em;
      margin: if($ref_weight >= 1.0, 24px, 20px);
      spacing: if($ref_weight >= 1.0, 24px, 20px);
      padding: 0;
    }
    @else { padding: if($ref_weight >= 1.0, 24px, 20px); }
  }

  .run-dialog {
    @if $ver > 3.35 {
      .modal-dialog-content-box {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &-entry {
      width: 20em;
      @if $ver < 3.35 {
        margin-bottom: if($ref_weight >= 1.0, 6px, 4px);
      }
    }

    @if $ver < 3.35 {
      &-error-box {
        padding-top: if($ref_weight >= 1.0, 16px, 12px);
        spacing: if($ref_weight >= 1.0, 6px, 4px);
        color: $color_err;
        font-size: 90%;
      }

      &-button-box { padding-top: if($ref_weight >= 1.0, 1em, 0.7em); }

      &-label {
        padding-bottom: if($ref_weight >= 1.0, 0.4em, 0.3em);
        font-weight: 400;
        color: $osd_ter_fg;
        font-size: 110%;
      }
    }
    @else {
      &-description {
        color: $osd_ter_fg;
        font-size: 90%;
        text-align: center;
      }
    }
  }
}

@if $ver > 3.25 {
  @if $ver < 3.35 {
    .mount-dialog-subject,
    .end-session-dialog-subject { // this should be a generic header class
      font-size: 130%;
    }
  }
  @else {
    .end-session-dialog-subject { // this should be a generic header class
      font-size: 130%;
    }
  }
}
@else {
  .show-processes-dialog-subject,
  .mount-question-dialog-subject,
  .end-session-dialog-subject { // this should be a generic header class
    font-size: 130%;
  }
}

@if $ver > 3.35 {
  .dialog-list {
    spacing: if($ref_weight >= 1.0, 16px, 12px);

    &-title {
      color: $osd_fg;
      text-align: center;
      font-weight: 700;
    }

    &-scrollview { max-height: if($ref_weight >= 1.0, 200px, 180px); }

    &-box {
      spacing: if($ref_weight >= 1.0, 1em, 0.7em);

      .dialog-list-item {
        spacing: if($ref_weight >= 1.0, 1em, 0.7em);

        &-title {
          color: $osd_fg;
          font-weight: 700;
        }

        &-description {
          color: $osd_sec_fg;
          font-weight: 400;
          font-size: 90%;
        }
      }
    }
  }
}
