%budgie_trigger_button {
  min-width: $icon_size;
  min-height: $icon_size;
  padding: 0;
  @include radius(0, none);
  background-color: transparent;
  color: if($variant == mixed, $color_fg_inv, $color_fg);
  font-weight: 700; // enforce bold weight
  &:not(:disabled) {
    background-color: transparent;
    background-image: none;
    animation: none;
  }
}

%budge_osd_button { // OSD-style buttons
  @if $variant == mixed { 
    @extend %inv-action-area-button; 
  } @else { 
    @extend %action-area-button; 
  }

  &.suggested-action, &.destructive-action {
    &:not(:disabled) { box-shadow: none; } // hide unneeded shadows
  }
}