// /*****************
//  * Polkit Dialog *
//  *****************/

.polkit-dialog {
  &-user-layout {
    spacing: if($ref_weight >= 1.0, 8px, 6px);
    @if $ver < 3.35 {
      &:ltr { padding-left: if($ref_weight >= 1.0, 8px, 6px); }
      &:rtl { padding-right: if($ref_weight >= 1.0, 8px, 6px); }
    }
    @else {
      margin-bottom: if($ref_weight >= 1.0, 6px, 4px);
      text-align: center;
    }
  }

  &-user-root-label { color: $color_warn; }

  &-user-icon {
    @if $ver < 3.35 {
      width: $icon_size * 3;
      height: $icon_size * 3;
    }
    background-size: contain;
    @if $ver < 3.31 { border-radius: $r_2; }
    @else { border-radius: $r; } // circular shape
  }
}
