// /*********
//  * Tilix *
//  *********/

headerbar > box.horizontal.linked {
  > button.image-button.session-new-button { // down-arrow button
    // hard-coded 2px L/R padding
    min-width: calc(#{rem($widget_size)} - (1px + 2px) * 2);
  }
}

// left-side revealer
window.background > overlay > revealer { // parent container
  @each $_position, $_side_margin in (left, right),
                                      (right, left) {
    &.#{$_position} > scrolledwindow.frame {
      margin-#{$_side_margin}: 16px;
      border: none;
      box-shadow: $z-depth-3; // depth-4 is semantically right,
                              // but too deep
    }
  }
}

list.tilix-session-sidebar {
  // use -image property instead
  background-image: image($color_bg_dark);

  button.tilix-sidebar-close-button {
    min-height: rem($small_widget);
    min-width: rem($small_widget);
    padding: 0;
  }
}

// in-line titlebars
widget > box.terminal-titlebar {
  > button.flat.popup.toggle {
    min-height: $menuitem_height;
    @include radius(0);
    &:dir(ltr) { padding: 0 rem(13.3px) 0 0; }
    &:dir(rtl) { padding: 0 0 0 rem(13.3px); }
    &:checked {
      border-image:
        radial-gradient(circle farthest-corner at center,
                        $color_bg_sel 100%,
                        transparent)
                        0 0 2 / 0 0 2px;
      background-color: transparent;
    }

    label.tilix-terminal-title {
      // move button spacing into label node
      min-height: $menuitem_height;
      margin: 0;
      padding: 0 rem($txt_button_lr_space);
      color: $color_fg_2;
      &:disabled { color: $color_fg_dis; }
      &:not(:disabled) {
        border-image:
          radial-gradient(circle farthest-corner at center,
                          $color_bg_sel 100%,
                          transparent)
                          0 0 2 / 0 0 2px;
        background-color: transparent;
      }
    }

    &:hover,
    &:active,
    &:checked {
      &, label.tilix-terminal-title {
        &, &:disabled { color: $color_fg; }
      }
    }
  }

  > button.image-button { // 'plus' and 'close'
    &, &.toggle {
      min-width: $menuitem_height;
      min-height: $menuitem_height;
      margin: 2px;
      padding: 0;
    }
  }

  &.compact { // 'Small' option
    > button.flat.popup.toggle {
      &:dir(ltr),
      &:dir(rtl) {
        min-width: $icon_size;
        min-height: $icon_size;
        padding: 0;
      }

      label.tilix-terminal-title {
        padding: rem($baseline, $sw: 1.0)
                  rem($baseline * 2)
                  rem($baseline * 2, $sw: 1.0);
      }
    }

    > button.image-button {
      &, &.toggle {
        min-width: $icon_size;
        min-height: $icon_size;
        margin: 0;
        padding: rem($baseline * 2, $sw: 1.0);
      }
    }
  }
}

// tab 'close' button when 'use tabs instead of sidebars'
notebook.tilix-background tab.reorderable-page {
  button.tilix-small-button { // hard-coded 2px padding
    @extend %tab_close_button;
    min-width: calc(#{$icon_size} - 3px + #{rem($menuitem_padding)});
  }
}