//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  sel_bg: $color_bg_sel;
  sel_lb: $color_lbl_sel;

  acc_fg: $color_fg_acc;
  acc_bg: $color_bg_acc;

  lkn_fg: $color_fg_lnk;
  lkv_fg: $color_fg_lnk_vst;
}
