// General guidelines:
// - keep the number of defined colors to a minimum, use the color blending functions if
//   you need a subtle shade
// - if you need to inverse a color function use the @if directive to match for dark $variant

$maj_ver: 4;
$mnr_ver: 0;
$variant: mixed;
$ref_weight: 1.0;

@import '../main';
