//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//

// Import base components from Gtk theming
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/resources/key_colors';
@import 'resources/function';

//
// Foreground colors
//

$color_fg: if($variant == dark, color($grey, 100),
                          mix(color($grey, 900), black));
$color_fg_2: opacity($color_fg, $alpha_foreground_2nd);
$color_fg_3: opacity($color_fg, $alpha_foreground_3rd);
$color_fg_dis: opacity($color_fg, $alpha_foreground_dis);
$color_fg_dis_2: opacity($color_fg_2, $alpha_foreground_dis);

$color_fg_sel: white;
$color_fg_sel_2: opacity($color_fg_sel, $alpha_foreground_selection_secondary);

//
// OSD Foreground colors
//

$osd_fg: if($variant == light, mix(color($grey, 900), black),
                               color($grey, 100));
$osd_sec_fg: opacity($osd_fg, $alpha_foreground_2nd);
$osd_ter_fg: opacity($osd_fg, $alpha_foreground_3rd);
$dis_osd_fg: opacity($osd_fg, $alpha_foreground_dis);
$dis_osd_sec_fg: opacity($osd_sec_fg, $alpha_foreground_dis);

$ovv_fg: white;
$ovv_sec_fg: opacity($ovv_fg, $alpha_foreground_2nd);
$ovv_ter_fg: opacity($ovv_fg, $alpha_foreground_3rd);
$ovv_dis_fg: opacity($ovv_fg, $alpha_foreground_dis);

//
// Background colors
//

$color_bg: if($variant == dark,
        mix(color($grey, 900), black, 87%),
        mix(color($grey, 50), color($grey, 100)));
$color_base: if($variant == dark,
          mix(color($grey, 900), black),
          white);
$color_bg_dark: if($variant == dark,
             mix(color($grey, 900), black, 25%),
             mix(color($grey, 200), color($grey, 300)));

$semi_fill_bg: opacity($color_fg, $alpha_track_1);
$fill_bg: opacity($color_fg, $alpha_track_2);
$hidden_fill_bg: rgba(0, 0, 0, 0.01);

$color_bg_sel: $key_selection_color;
$color_lbl_sel: if($variant == dark,
               saturate(
                 lighten($color_bg_sel, percentage($alpha_track_2)),
                 percentage($alpha_track_2)),
               $color_bg_sel);
$osd_sel_label: if($variant != light,
                   saturate(
                     lighten($color_bg_sel, percentage($alpha_track_2)),
                     percentage($alpha_track_2)),
                   $color_bg_sel);
$ovv_sel_label: saturate(
                  lighten($color_bg_sel, percentage($alpha_track_2)),
                  percentage($alpha_track_2));

$out_fg: opacity($color_fg, $alpha_track_out);
$dis_out_fg: opacity($out_fg, $alpha_foreground_dis);

//
// OSD Background colors
//

$osd_bg: if($variant == light,
            mix(color($grey, 200), color($grey, 300)),
            mix(color($grey, 900), black, 25%));
$osd_semi_fill_bg: opacity($osd_fg, $alpha_track_1);
$osd_fill_bg: opacity($osd_fg, $alpha_track_2);

$osd_base: if($variant == light,
              white,
              mix(color($grey, 900), black));

$osd_out_fg: opacity($osd_fg, $alpha_track_out);
$dis_osd_out_fg: opacity($osd_out_fg, $alpha_foreground_dis);

$ovv_semi_fill_bg: opacity($ovv_fg, $alpha_track_1);
$ovv_fill_bg: opacity($ovv_fg, $alpha_track_2);

$ovv_out_fg: opacity($ovv_fg, $alpha_track_out);

//
// Accent colors
//

$color_bg_acc: $key_accent_color;
$color_fg_acc: if($variant == dark,
            saturate(
              lighten($color_bg_acc, percentage($alpha_track_1)),
              percentage($alpha_track_1)),
            saturate(
              darken($color_bg_acc, percentage($alpha_track_2)),
              percentage($alpha_track_2)));
$color_fg_acc_2: opacity($color_fg_acc, $alpha_foreground_2nd);
$dis_acc_fg: opacity($color_fg_acc, $alpha_foreground_dis);

$acc_semi_fill_bg: opacity($color_fg_acc, $alpha_track_1);
$acc_fill_bg: opacity($color_fg_acc, $alpha_track_2);
$acc_out_fg: opacity($color_fg_acc, $alpha_track_out);

$color_fg_acc_inv:if($variant == light,
            saturate(
              darken($color_bg_acc, percentage($alpha_track_2)),
              percentage($alpha_track_2)),
            saturate(
              lighten($color_bg_acc, percentage($alpha_track_1)),
              percentage($alpha_track_1)));
$color_fg_acc_inv_2: track($color_fg_acc_inv, $alpha_foreground_2nd);
$inv_acc_semi_fill_bg: if($variant == mixed,
                          opacity($color_fg_acc_inv, $alpha_track_1),
                          opacity($color_fg_acc, $alpha_track_1));
$inv_acc_fill_bg: if($variant == mixed,
                     opacity($color_fg_acc_inv, $alpha_track_2),
                     opacity($color_fg_acc, $alpha_track_2));
$ovv_acc_fg: saturate(
             lighten($color_bg_acc, percentage($alpha_track_1)),
             percentage($alpha_track_1));
$ovv_sec_acc_fg: track($ovv_acc_fg, $alpha_foreground_2nd);

//
// Misc colors
//

$color_fg_div: if($variant == dark, opacity(black, $alpha_div_0),
                              opacity(black, $alpha_div_1));
$color_fg_div_sld: if($variant == dark, mix(black, $color_base, percentage($alpha_div_0)),
                                  mix(black, $color_bg, percentage($alpha_div_1)));

$color_lnk: color($blue, $primary_level);
$color_lnk_vst: color($purple, $primary_level);

$color_fg_lnk: if($variant == dark,
             saturate(lighten($color_lnk, percentage($alpha_track_1)),
               percentage($alpha_track_1)),
             $color_lnk);
$color_fg_lnk_vst: if($variant == dark,
                 saturate(lighten($color_lnk_vst, percentage($alpha_track_2)),
                   percentage($alpha_track_2)),
                 $color_lnk_vst);
$osd_link_fg: if($variant != light,
                 saturate(lighten($color_lnk, percentage($alpha_track_1)),
                   percentage($alpha_track_1)),
                 $color_lnk);

$color_warn: color($orange, $primary_level);
$color_err: color($red, $primary_level);
$sccs: color($green, $primary_level);

$color_bg_sgst: $key_suggestion_color;
$color_bg_dest: $key_destruction_color;

//
// Tooltip background color
//

$color_bg_tooltip: if($variant == dark, color($grey, 800),
                                  color($grey, 400));
$color_bg_tooltip_inv: color($grey, 800);

//
// Panel colors
//

$color_bg_panel: if($variant == light, color($grey, 300), black);
$panel_trans_bg: opacity($color_bg_panel, 0.0);
$panel_hidden_bg: opacity($color_bg_panel, 0.01);
