// /************
//  * Lollypop *
//  ************/

// header grid?
paned.horizontal > paned.horizontal stack grid.vertical > grid.horizontal {
  button.image-button {
    &, &.toggle { @include radius($r_2); }
  }
}

// playlists styling
row.trackrow {
  &, &playing {
    // lollypop can not understand outer margins
    button.image-button:not(.text-button),
    .track-menu-button { // back to square button
      &, &.toggle { // back to square button
        margin: 0;
        @include radius($r_2);
      }
    }
  }
}

// Track menu GtkPopover
// parent container of GtkWidgets 'Ratings' and 'Heart'
grid.popover-rating-loved-grid {
  // tweak bottom margin
  margin-bottom: if($ref_weight < 1.0, calc(12px + 0.35rem),
                                        calc(12px + 0.5rem));
}

// Cover-art in headerbar
image.toolbar-cover-frame { // mask L/R edge borders
  border-image: if($variant == mixed, image($color_bg_dark_inv) 0 1 / 0 1px stretch,
                                      image($color_bg_dark) 0 1 / 0 1px stretch);

  &:backdrop {
    border-image: if($variant == mixed, image($color_bg_inv) 0 1 / 0 1px stretch,
                                        image($color_bg) 0 1 / 0 1px stretch);
  }
}

headerbar > widget > box.horizontal button.image-button.popup.toggle {
  &:checked > image.selected { // Shuffle tracks?
    @include radius($r, none);
    box-shadow: inset 0 0 0 999px $color_base;
  }
}

overlay grid.sidebar {
  &:not(.view) {
    &:dir(ltr) { border-right: 1px solid $color_fg_div; }
    &:dir(rtl) { border-left: 1px solid $color_fg_div; }
  }

  viewport.frame > list { background-color: $color_bg; }

  // side-pane row height
  row.activatable.row-big {
    min-height: 0; // unlock min-height

    + row.activatable { // separator row
      min-height: 0;
      padding: 0;
    }
  }
}