//
// Import resources
//

// Import key color-scheme defined at build-time.
@import 'key_colors';

//
// Foreground colors
//

$color_fg: if($variant == dark, color($grey, 100),
                          mix(color($grey, 900), black));
$color_fg_2: track($color_fg, $alpha_foreground_2nd);
$color_fg_3: track($color_fg, $alpha_foreground_3rd);

$color_fg_sel: white;
$color_fg_sel_2: track($color_fg_sel, $alpha_foreground_selection_secondary);
$color_fg_sel_3: track($color_fg_sel, $alpha_foreground_sel_3rd);

$color_fg_dis: track($color_fg, $alpha_foreground_dis);
$color_fg_dis_2: track($color_fg_2, $alpha_foreground_dis);
$color_fg_dis_3: track($color_fg_3, $alpha_foreground_dis);

$color_fg_dis_sel: track($color_fg_sel, $alpha_foreground_bdp);
$color_fg_dis_sel_2: track($color_fg_sel_2, $alpha_foreground_bdp);
$color_fg_dis_sel_3: track($color_fg_sel_3, $alpha_foreground_bdp);

// placeholder text in GtkEntry
$color_fg_plc: if($variant == light, color($grey, $primary_level),
                               color($grey, $primary_level + 200));

//
// Inverted foreground colors
//

$color_fg_inv: color($grey, 100);
$color_fg_inv_2: track($color_fg_inv, $alpha_foreground_2nd);
$color_fg_inv_3: track($color_fg_inv, $alpha_foreground_3rd);

$color_fg_dis_inv: track($color_fg_inv, $alpha_foreground_dis);
$color_fg_dis_inv_2: track($color_fg_inv_2, $alpha_foreground_dis);
// for SSD titlebars
$color_fg_title_unf: if($variant == light, track($color_fg, $alpha_foreground_bdp),
                                     track($color_fg_inv, $alpha_foreground_bdp));

$color_fg_fix: color($grey, 900);
$color_fg_fix_2: track($color_fg_fix, $alpha_foreground_2nd);
$color_fg_fix_3: track($color_fg_fix, $alpha_foreground_3rd);
$color_fg_fix_dis: track($color_fg_fix, $alpha_foreground_dis);

//
// Background colors
//

$color_bg: if($variant == dark,
        mix(color($grey, 900), black, percentage($alpha_foreground_2nd)),
        mix(color($grey, 50), color($grey, 100)));
$color_base: if($variant == dark,
          mix(color($grey, 900), black),
          white);
$color_bg_dark: if($variant == dark,
             mix(color($grey, 900), black, percentage($alpha_track_2)),
             mix(color($grey, 200), color($grey, 300)));

//
// Dark background colors on light variant
//

$color_bg_inv: mix(color($grey, 900), black, percentage($alpha_foreground_2nd));
$color_base_inv: mix(color($grey, 900), black);
$color_bg_dark_inv: mix(color($grey, 900), black, percentage($alpha_track_2));

//
// Light background colors on dark variant
//

$color_base_fix: white;

//
// Selection (primary) colors
//

// Default: #3f51b5 (Indigo500)
$color_bg_sel: $key_selection_color;
// $color_bg_sel: color($indigo, $primary_level);
$color_lbl_sel: if($variant == dark,
               saturate(
                 lighten($color_bg_sel, percentage($alpha_track_2)),
                 percentage($alpha_track_2)),
               $color_bg_sel);
$color_lbl_sel_inv: saturate(
                  lighten($color_bg_sel, percentage($alpha_track_2)),
                  percentage($alpha_track_2));

//
// Accent (secondary) colors
//

// Default: #7986cb (Indigo300)
$color_bg_acc: $key_accent_color;
//$color_bg_acc: color($indigo, $secondary_level);
$color_fg_acc: if($variant == dark,
            saturate(
              lighten($color_bg_acc, percentage($alpha_track_1)),
              percentage($alpha_track_1)),
            saturate(
              darken($color_bg_acc, percentage($alpha_track_2)),
              percentage($alpha_track_2)));
$color_fg_acc_2: track($color_fg_acc, $alpha_foreground_selection_secondary);
$color_fg_drop: $color_fg_acc;
$color_bg_drop: track($color_fg_drop, $alpha_track_out);

$color_fg_acc_inv: saturate(
              lighten($color_bg_acc, percentage($alpha_track_1)),
              percentage($alpha_track_1));
$color_fg_acc_inv_2: track($color_fg_acc_inv, $alpha_foreground_2nd);
$color_fg_drop_inv: $color_fg_acc_inv;

//
// Tracker colors
//

$color_bg_trk: track(currentColor, $alpha_track_1);
$color_fg_trk_out: track(currentColor, $alpha_track_out);

//
// Edge colors
//

$color_fg_div: if($variant == dark, track(black, $alpha_div_0),
                              track(black, $alpha_div_1));
$color_fg_div_sld: if($variant == dark, mix(black, $color_base, percentage($alpha_div_0)),
                                  mix(black, $color_bg, percentage($alpha_div_1)));
$color_fg_div_sld_dark: if($variant != light,
                     black,
                     mix(black, $color_bg_dark, percentage($alpha_div_1)));
$color_fg_div_top: if($variant == light,
                mix(white, $color_bg_dark, percentage($alpha_div_1)),
                mix(white, $color_bg_dark_inv, percentage($alpha_div_2)));
$color_fg_div_pane: if($variant == dark, track(black, $alpha_div_1),
                                   track(black, $alpha_div_2));

//
// Misc colors
//

$color_lnk: color($blue, $primary_level);
$color_lnk_vst: color($purple, $primary_level);

$color_fg_lnk: if($variant == dark,
             saturate(lighten($color_lnk, percentage($alpha_track_1)),
               percentage($alpha_track_1)),
             $color_lnk);
$color_fg_lnk_vst: if($variant == dark,
                 saturate(lighten($color_lnk_vst, percentage($alpha_track_2)),
                   percentage($alpha_track_2)),
                 $color_lnk_vst);

// Default: #673ab7 (DPurple500)
$color_bg_sgst: $key_suggestion_color;
// $color_bg_sgst: color($d_purple, $primary_level);

// Default: #f44336 (Red500)
$color_bg_dest: $key_destruction_color;
// $color_bg_dest: color($red, $primary_level);

$color_info: color($teal, $primary_level);
$color_warn: color($orange, $primary_level);
$color_err: color($red, $primary_level);

$color_bg_sccs: color($green, $primary_level);
$color_bg_info: color($teal, $secondary_level);
$color_bg_ques: color($yellow, $secondary_level);
$color_bg_warn: color($orange, $secondary_level);
$color_bg_err: $color_err;

//
// Tooltip background color
//

$color_bg_tooltip: if($variant == dark, color($grey, 800),
                                  color($grey, 400));
$color_bg_tooltip_inv: color($grey, 800);

//
// Solid panel color
//

$color_bg_panel: if($variant == light, color($grey, 300), black);
$color_fg_panel_inv: if($variant == light, track($color_fg, $alpha_div_2),
                                     track($color_fg_inv, $alpha_div_2));

//
// Selection-mode headerbar
//

$color_bg_sel_dark: if($variant == light,
                 mix($color_bg_sel, $color_bg_dark, percentage($alpha_foreground_bdp)),
                 mix($color_bg_sel, $color_bg_dark_inv, percentage($alpha_foreground_bdp)));
$color_fg_div_sel_top: mix(white, $color_bg_sel_dark, percentage($alpha_div_2));
