// TODO: Create a shell script to generate this file from user-defined values (prior to meson setup)

// Selection (Primary) color
$key_selection_color: #5294e2;

// Accent (Seondary) color
$key_accent_color: #84beea;

// Suggestion color
$key_suggestion_color: #4fa2e1;

// Destruction (Tertiary) color
$key_destruction_color: #f05f7e;
