// /**************
//  * FeedReader *
//  **************/

// left-paned headerbar
paned.headerbar_pane.titlebar > headerbar.header_right.titlebar {
  > box.linked.raised > button.toggle { // should be .text-button
    &:dir(ltr) {
      @include radius(0);
      &:first-child { @include radius($r_2 0 0 $r_2); }
      &:last-child { @include radius(0 $r_2 $r_2 0); }
    }
    &:dir(rtl) {
      @include radius(0);
      &:first-child { @include radius(0 $r_2 $r_2 0); }
      &:last-child { @include radius($r_2 0 0 $r_2); }
    }
  }
}

// article-list
overlay.article-list > stack {
  > scrolledwindow > viewport.frame > list {
    background-color: $color_bg;

    > row.activatable {
      &:hover { background-color: $color_bg_trk; }
      &:selected {
        &,
        &:focus {
          background-color: track($color_bg_sel, $alpha_track_1);
          &:dir(ltr) { box-shadow: inset 4px 0 $color_bg_sel; }
          &:dir(rtl) { box-shadow: inset -4px 0 $color_bg_sel; }

          label {
            &,
            &.headline-read,
            &.preview { color: $color_fg; }
          }
        }
      }
    }
  }
}

revealer > widget > headerbar.imageOverlay.titlebar {
  > box > button.close.titlebutton { // non-CSD inline-headerbar
    min-width: rem($widget_size);
    min-height: rem($widget_size);
    padding: 0;
  }
}