@import 'appicons';
@import 'assistant';
@import 'base';
@import 'buttons';
@import 'calendar';
@import 'checkradios';
@import 'colorchooser';
@import 'comboboxes';
@import 'decorations';
@import 'dialogs';
@import 'emojipicker';
@import 'expanders';
@import 'filechoosers';
@import 'flowbox';
@import 'frames';
@import 'headerbars';
@import 'infobar';
@import 'levelbars';
@import 'links';
@import 'lists';
@import 'menus';
@import 'notebooks';
@import 'notifications';
@import 'paned';
@import 'pathbars';
@import 'popovers';
@import 'printdialogs';
@import 'progressbars';
@import 'scales';
@import 'scrollbars';
@import 'selections';
@import 'shortcuts';
@import 'sidebars';
@import 'spinbutton';
@import 'spinner';
@import 'switches';
@import 'textentries';
@import 'toolbars';
@import 'tooltips';
@import 'touchhandles';
@import 'treeviews';
@import 'typography';
@import 'video';


// /********
//  * Misc *
//  ********/

// content view (grid/list)
.content-view {
  background-color: $color_bg;
  @if $maj_ver == 4 {
    &:hover { -gtk-icon-filter: brightness(1.2); }
  }
}

// Decouple the font of context menus from their entry/textview
.context-menu {
  font-weight: 400;
  font-size: 100%;
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & .vertical button.flat,
  .vertical button.flat { // +/- buttons on GtkVolumeButton popup
    &:first-child { // '+' button
      &:hover {
        @include button(flat-hover, $tc: $color_bg_sccs);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_bg_sccs);
      }
    }
    &:last-child { // '-' button
      &:hover {
        @include button(flat-hover, $tc: $color_err);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $color_err);
      }
    }
  }

  .osd & button,
  button { @include radius($r); }
}

button.flat.scale { // standalone Speaker/Mic buttons
  // I assume both are image-button *by default*
  // with the image-button/text-button classes automatically applied
  // depending on the button child these selectors can be deleted.
  // @extend %image_button;
  padding: 0;
  @include radius($r);
}

%floating_bar {
  border: 1px solid transparent;
  color: if($variant == mixed, $color_fg_inv, $color_fg);
  background-color: if($variant == mixed, $color_bg_tooltip_inv,
                                          $color_bg_tooltip);
  font-size: 90%;
  opacity: $alpha_osd;
}

.floating-bar {
  @extend %floating_bar;
  padding: 0;

  label { min-height: rem($icon_size * 1.75); }

  button {
    @extend %fb_child_spacing;
    @if $variant == mixed {
      @extend %inv-action-area-button;
    }
    @else {
      @extend %action-area-button;
    }
  }

  &.bottom.left { @extend %floating_bar_left; }

  &.bottom.right { @extend %floating_bar_right; }
}

%fb_child_spacing {
  min-height: rem($icon_size * 1.75);
  min-width: rem($icon_size * 1.75);
  margin: 0;
  padding: 0;
}

%floating_bar_left {
  @include radius(0 $r_4 0 0, none);
  border-width: 1px 1px 0 0;
}

%floating_bar_right {
  @include radius($r_4 0 0 0, none);
  border-width: 1px 0 0 1px;
}
