// /************
//  * Pathbars *
//  ************/

%pathbar_button_shape {
  @include radius(0); // optimize radius and widths
  &:dir(ltr) { border-right-width: 0; }
  &:dir(rtl) { border-left-width: 0; }
  &:first-child {
    &:dir(ltr) { @include radius($r_2 0 0 $r_2); }
    &:dir(rtl) { @include radius(0 $r_2 $r_2 0); }
  }
  &:last-child {
    &:dir(ltr) {
      @include radius(0 $r_2 $r_2 0);
      border-right-width: 1px;
    }
    &:dir(rtl) {
      @include radius($r_2 0 0 $r_2);
      border-left-width: 1px;
    }
  }
  &:only-child {
    &:dir(ltr), &:dir(rtl) { @include radius($r_2); }
  }
}

.linked.path-bar {
  button {
    @if $maj_ver == 3 {
      @if $mnr_ver < 23 { @extend %pathbar_button_shape; }
      @else { // exclude Nautilus's specific pathbar box
        *:not(.path-bar-box) & { @extend %pathbar_button_shape; }
      }
    }
    @else {
      *:not(.path-bar-box) & { @extend %pathbar_button_shape; }
    }
  }
}

.path-bar {
  button {
    @at-root %pathbar_button,
    &,
    &.text-button,
    &.image-button,
    &.toggle {
      padding: 0 rem($pathbar_min_size, $sw: 1.0);

      label,
      image {
        margin-left: rem($pathbar_min_size);
        margin-right: rem($pathbar_min_size);
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.slider-button {
      min-width: $icon_size;
      padding: 0 rem($pathbar_min_size, $sw: 1.0);

      image { margin: 0 rem($pathbar_min_size); }
    }
  }
}

@if $maj_ver == 3 { // Nautilus >= 3.30
  @if $mnr_ver > 23 {
    headerbar .path-bar-box {
      .path-bar {
        @extend %slashed_nautilus_pathbar;

        box:not(:only-child):last-child button {
          @extend %pathbar_button_tail;
        }
      }

      .linked.nautilus-path-bar { // >= 3.31.90
        @extend %non_slashed_nautilus_pathbar;

        button:not(:only-child):last-child { @extend %pathbar_button_tail; }
      }
    }
  }
}
@else {
  headerbar .path-bar-box {
    .linked.nautilus-path-bar {
      @extend %non_slashed_nautilus_pathbar;

      button:not(:only-child):last-child { @extend %pathbar_button_tail; }
    }
  }
}

%slashed_nautilus_pathbar {
  button {
    margin-left: rem($baseline * 2, $sw: 1.0);
    margin-right: rem($baseline * 2, $sw: 1.0);
    // enforce switching to flat-style
    &:not(:checked) {
      border-color: transparent;
      background-color: transparent;
      &:hover,
      &:active {
        background-color: track(if($variant == mixed, $color_fg_inv, $color_fg),
                                $alpha_track_1);
      }
    }
  }
}

%non_slashed_nautilus_pathbar {
  button {
    @extend %pathbar_button;
    @extend %pathbar_button_shape;

    &:last-child:not(:disabled) { // down-arrow buttons
      @include button(checked);
      &:hover { @include button(checked-hover); }
    }
  }
}

%pathbar_button_tail {
  // FIXME: these compensators can reserve enough wide 'tail' margins
  // at the last button node for preventing ugly button node truncations.
  &:dir(ltr) { margin-right: $icon_size * 1.5; }
  &:dir(rtl) { margin-left: $icon_size * 1.5; }
}