// /****************
//  * Libre-Office *
//  ****************/

window.background:not(.solid-csd) {
  > widget > separator { color: $color_fg_div_sld; } // for toolbars

  // for 'Notebookbar' toolbar
  > notebook:not(.frame) {
    border: 0 none transparent; // unset borders
    background-color: $color_base;

    > stack {
      border: none;
      box-shadow: none;
    }
  }
}