// /**********
//  * Lutris *
//  **********/

// FIXME: I really want to purge this crap! :/

window.background > stack > box.horizontal > revealer { // left/right stack
  &:first-child {
    > scrolledwindow > viewport.frame > list.sidebar {
      &:dir(ltr) { border-right: 1px solid $color_fg_div; }
      &:dir(rtl) { border-left: 1px solid $color_fg_div; }

      > row.activatable {
        min-height: calc(#{rem($small_widget)} + 4px);
        &:hover:not(:selected) { // damned lutris.css gets in our way
          box-shadow: inset 0 0 0 999px mix($color_fg, $color_bg, percentage($alpha_track_1));
        }
        &:selected {
          @include radius(0);
          color: $color_fg;
          &:dir(ltr) {
            box-shadow: inset 0 0 0 999px
                        mix($color_lbl_sel, $color_bg, percentage($alpha_track_1)),
                        inset 4px 0 $color_bg_sel;
          }
          &:dir(rtl) {
            box-shadow: inset 0 0 0 999px
                        mix($color_lbl_sel, $color_bg, percentage($alpha_track_1)),
                        inset -4px 0 $color_bg_sel;
          }
        }

        button.flat { // should use .image-button.small-button class!
          min-width: rem($small_widget);
          min-height: rem($small_widget);
          @include radius($r);
        }
      }
    }
  }

  > scrolledwindow.game-scrolled {
    &:dir(ltr) { border-left: 1px solid $color_fg_div; }
    &:dir(rtl) { border-right: 1px solid $color_fg_div; }

    // alignment is locked by "Play" button 146px width placed above,
    // means we can't use font-sensitive scaling at all
    widget.game-panel > button.image-button {
      min-width: $icon_size * 2;
      min-height: $icon_size * 2;
    }
  }
}